<%= image_tag("meeting.jpeg", class:"background-image")%>

<div class="home-right">
  <h1 class="form-title">Employee Engagement App</h1>

  <% if !current_user %>
    <h5 class="form-instructions">Enter account info below:</h5>

    <%= form_tag login_path, html: { autocomplete: "off" } do %>
      <div class="field">
        <div class="field-label"><%= label_tag :username %></div>
        <%= text_field_tag :email, params[:email], class:"field-input" %>
      </div>

      <div class="field">
        <div class="field-label"><%= label_tag :password %></div>
        <%= password_field_tag :password, nil, class:"field-input", placeholder:"At least 6 characters" %>
      </div>

      <div class="actions">
        <%= submit_tag "LOGIN", class:"submit-blue" %>
      </div>
    <% end %>

  <% else %>
      <p class="form-title">Use the <b>links</b> in the <b>top right</b> to navigate through content</p>
  <% end %>
</div>

<footer class="footer">
  <div class="container"><p>Employee Engagement App</p></div>
</footer>
