<div class="background">

  <h1 class="form-title">Employee Engagement Application</h1>

  <div class="container">

    <h5 class="form-instructions">Please enter account info below:</h5>

    <%= form_tag login_path do %>
      <div class="field">
        <div class="field-label"><%= label_tag :email %></div>
        <%= text_field_tag :email, params[:email], class:"field-input" %>
      </div>

      <div class="field">
        <div class="field-label"><%= label_tag :password %></div>
        <%= password_field_tag :password, nil, class:"field-input", placeholder:"At least 6 characters" %>
      </div>

      <div class="actions"><%= submit_tag "LOGIN", class:"submit" %></div>
    <% end %>

  </div>

</div>
