<div class="quarter">
  <div class=white-box>
    <%= image_tag('CSD-logo.jpg', class:"csd-logo") %>
  </div>

  <p class="feed-title">Your Recognition Badges</p>

  <ul class="home-feed-list">
    <% @user.received_badges.each do |b| %>
      <li id="csd-blue">
        <%= link_to "#{b.name}", "/recognitions/#{b.id}/edit", class:'home-feed-link' %>
      </li>
    <% end %>
  </ul>
</div>

<div class="three-quarters" style="margin-top: 10px; text-align: center;">
  <% if current_user.id == @recognition.receiver_id || current_user.id == @recognition.recognizer_id %>
    <h1 class="form-title" style="padding-top: 3%; margin-bottom: 3%;">Edit Badge</h1>

    <%= render 'recognitions_form' %>

    <div class="float">
      <%= link_to "CANCEL", user_url(@user), class:"delete", style:"margin-left: 15px;" %>
    </div>

    <div class="float" style="clear: both;">
      <%= link_to "BACK TO #{@user.name.upcase}'S PROFILE", "/users/#{@user.id}",
          class:"submit-blue", style:"margin: 15px auto;" %>
    </div>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to edit <%= User.find(@recognition.receiver_id).name %>'s badge</h1>
  <% end %>
</div>
