<div class="background" style="text-align: center;">
  <% if current_user %>
    <ul class="badge-details">

      <h2 class="badge-detail-title"><%= "#{@user.name}" %>'s badge details</h2>
      <!-- Display Green Badges -->
      <div class="badge-show-green">
        <h2 class="badge-show-title"><%= @recognition.name %></h2>
      </div>

      <% if @recognition.description != nil %>
      <div class="badge-description-wrap">
        <p class="badge-description"><%= @recognition.description %></p>
      </div>
      <% else %>
      <div class="badge-description-wrap">
        <p class="badge-description">Describe your skill or experience in 500 characters or less.</p>
      </div>
      <% end %>

      <% if current_user.liked? @recognition %>
        <%= link_to '', unlike_recognition_path(@recognition.id), method: :put, remote: true, id: "like_#{@recognition.id}", class:"glyphicon glyphicon-heart" %>
        <p class="profile-badges"></p>
        <%= render 'likes' %>
      <% else %>
        <%= link_to '', like_recognition_path(@recognition.id), method: :put, remote: true, id: "like_#{@recognition.id}", class:"glyphicon glyphicon-heart-empty" %>
        <p class="profile-badges"></p>
        <%= render 'likes' %>
      <% end %>

      <% if current_user.id == @recognition.receiver_id || @recognition.recognizer_id %>
        <div class="center-float-wrap">
          <div class="float" style="margin-right: 5px;">
            <%= link_to "/users/#{@user.id}/recognitions/#{@recognition.id}/edit", class:"cancel-link", style:"margin-left: 0;" do %>
              <div class="submit-green">EDIT</div>
            <% end %>
          </div>

          <div class="float" style="margin-left: 5px;">
            <%= button_to 'DELETE BADGE', {:controller => 'recognitions', :action => 'destroy', :id => "#{@recognition.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"delete" %>
          </div>
        </div>
      <% end %>

    </ul>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view <%= User.find(@recognition.receiver_id).name %>'s badge</h1>
  <% end %>
</div>
