<div class="background" style="text-align: center;">
  <% if current_user %>
    <ul class="badge-details">

      <h2 class="badge-detail-title"> Given by <%= User.find(@recognition.recognizer_id).name %> </h2>

      <!-- Display Green Badges -->
      <div class="badge-show-green">
        <h2 class="badge-show-title"><%= @recognition.name %></h2>
      </div>

      <% if @recognition.description != nil && @recognition.description != "" %>
      <div class="badge-description-wrap">
        <p class="badge-description"><%= @recognition.description %></p>
      </div>
      <% else %>
      <div class="team-info" style="font-size: 16px; margin: 30px auto;">
        <%= link_to "Describe how #{@user.name} went above and beyond in 500 characters or less.",
            "/users/#{@user.id}/recognitions/#{@recognition.id}/edit", class:"team-link",
            style:"margin-left: 0;" %>
      </div>
      <% end %>

      <% if current_user.liked? @recognition %>
        <%= link_to image_tag('thumbs-up-empty.svg', class:"thumbs-empty"), unlike_recognition_path(@recognition.id), method: :put, remote: true, id: "like_#{@recognition.id}" %>
        <p class="profile-badges"></p>
        <%= render 'likes' %>
      <% else %>
        <%= link_to image_tag('thumbs-up.svg', class:"thumbs-up"), like_recognition_path(@recognition.id), method: :put, remote: true, id: "like_#{@recognition.id}" %>
        <p class="profile-badges"></p>
        <%= render 'likes' %>
      <% end %>

      <div class="center-float-wrap">
        <div class="float" style="margin-left: 5px; margin-right: 5px;">
          <%= link_to "/users/#{@user.id}", class:"cancel-center-link" do %>
            <div class="submit-blue">BACK TO <%= "#{@user.name}".upcase %>'s PROFILE</div>
          <% end %>
        </div>

        <% if current_user.id == @recognition.receiver_id || current_user.id == @recognition.recognizer_id %>
          <div class="float" style="margin-left: 5px;">
            <%= button_to 'DELETE BADGE', {:controller => 'recognitions', :action => 'destroy', :id => "#{@recognition.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"delete" %>
          </div>
        <% end %>
      </div>

    </ul>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view <%= User.find(@recognition.receiver_id).name %>'s badge</h1>
  <% end %>
</div>
