<% if current_user %>
  <div class="container" style="margin-top: 10px; text-align: center;">
    <ol class="track-progress" data-steps="6">
      <li class="done"><span>Disclaimer</span></li><!--
      --><li><span>Personal Info</span></li><!--
      --><li><span>Career Info</span></li><!--
      --><li><span>Education Badge</span></li><!--
      --><li><span>Experience Badge</span></li><!--
      --><li><span>Complete Sign Up</span></li>
    </ol>
  </div>

  <div class="background" style="text-align: center;">
    <h1 class="center-title">Disclaimer</h1>

    <div class="badge-description-wrap">
      <p class="disclaimer-text">
        You must abide by all standard government rules (<%= link_to "PDF LINK", "http://intra.ops.myops.gov.on.ca/cms/tiles.nsf/%28vwReadResourcesByRefId_Content%29/cpd2011.04.01.13.19.10.NBJ_res/$File/acceptableI&IT_Policy.pdf", target:'_blank' %>)
        for using government computing resources. You are responsible for adhering to
        all existing rules when posting on Employee Engagement Application.
      </p>

      <p class="disclaimer-text"><b>In particular</b>, keep in mind that:</p>

      <ul class="disclaimer-body">
        <li class="disclaimer-text">
          Government-owned collaboration spaces (including this site) constitute
          <b>official interactions and communications</b>, but they do not necessarily represent
          views of the home branch, division or ministry. Remember that the content you create
          here is <b>subject to Freedom of information (FOI)</b> legislation (just like your email).
        </li>
        <li class="disclaimer-text">
          As a condition of using these government-owned capabilities, you consent to the sharing of
          postings to other OPS employees.
        </li>
        <li class="disclaimer-text">
          You may not post any material that is obscene, defamatory, profane, threatening, harassing,
          abusive, or hateful to another person, agency, organization, or other entity.
        </li>
        <li class="disclaimer-text">
          Do not post another person's personal information without their specific consent.
        </li>
        <li class="disclaimer-text">
          Site administrators retain the right to delete inappropriate posting and revoke user privileges.
        </li>
        <li class="disclaimer-text">
          Write with accuracy, correcting mistakes when appropriate.
        </li>
      </ul>

      <div class="center-float-wrap">
        <div class="float">
          <%= form_for(@signup) do |f| %>
<<<<<<< HEAD
            <%= f.hidden_field :user_id, value: current_user.id %>
            <!-- <%= f.hidden_field :current_step, value: 2 %> -->
=======
            <%= f.hidden_field :step_one, value: true %>
>>>>>>> a13c36fdb68844e776042e853990ec3c24d851d9
            <%= f.submit "AGREE", class:"submit-green" %>
          <% end %>
        </div>

        <div class="float">
          <%= link_to "DISAGREE", :logout, class:"delete", style:"margin-left: 15px;" %>
        </div>
      </div>

    </div>
  </div>
<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view disclaimer</h1>
<% end %>
