<div class="container" style="width: 80%; text-align: center; margin-top: 0; margin-bottom: 0;">
  <% if current_user %>
    <h1>4/6</h1>
    <h2 class="form-option" style="padding-bottom: 30px;">Education Badges</h2>

    <div class="badge-row">
      <%= button_to 'B.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "B.A.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'B.Sc.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "B.Sc.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'B.B.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "B.B.A.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.A.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.Sc.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.Sc.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'Ph.D.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "Ph.D.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'J.D.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "J.D.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.B.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.B.A", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.D.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.D.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'CPA', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "CPA", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'CFA', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "CFA", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'P.Eng.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "P.Eng.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.P.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.P.A.", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
      <%= button_to 'PMP', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "PMP", :green => true, signup_attributes: {:step_four => true}}}, method: :post, class:"badge-green" %>
    </div>

    <h2 class="form-title" style="clear: both; padding-top: 50px;">Can't find your education credentials? Create a custom badge below</h2>

    <%= form_for([current_user, @badge]) do |f| %>
      <% if @badge.errors.any? %>
        <h2 class="error-header"><%= pluralize(@badge.errors.count, "error") %> occurred!</h2>

        <ul class="error-list">
          <% @badge.errors.full_messages.each do |msg| %>
            <li class="error-msg"><%= msg %></li>
          <% end %>
        </ul>

      <% end %>

      <div class="field">
        <%= f.label :name, "Name of Credential", class:"field-label" %>
        <%= f.text_field :name, class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :description, class:"field-label" %>
        <%= f.text_area :description, class:"field-input", placeholder:"Describe your credentials in 500 characters or less." %>
      </div>

      <%= f.hidden_field :education, value: true %>

      <%= f.fields_for :signup_attributes do |s| %>
        <%= s.hidden_field :step_four, value: true %>
      <% end %>

      <div class="center-float-wrap">
        <div class="float">
          <%= f.submit "SUBMIT", class:"submit-green" %>
        </div>

      <% end %>

      <div class="float">
        <%= link_to :logout, class:"cancel-link" do %>
          <div class="delete">CANCEL</div>
        <% end %>
      </div>
    </div>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to create a badge</h1>
  <% end %>
</div>
