<div class="background">
  <% if current_user %>
  <div class="container" style="margin-top: 10px; text-align: center;">
    <ol class="track-progress" data-steps="6">
      <li class="done"><span>Disclaimer</span></li><!--
      --><li class="done"><span>Personal Info</span></li><!--
      --><li><span>Career Info</span></li><!--
      --><li><span>Education Badge</span></li><!--
      --><li><span>Experience Badge</span></li><!--
      --><li><span>Complete Sign Up</span></li>
    </ol>

    <h1 class="form-title">Edit Account Settings</h1>

      <%= form_for(current_user) do |f| %>
        <% if current_user.errors.any? %>
          <h2 class="error-header"><%= pluralize(current_user.errors.count, "error") %> occurred!</h2>

          <ul class="error-list">
            <% current_user.errors.full_messages.each do |msg| %>
              <li class="error-msg"><%= msg %></li>
            <% end %>
          </ul>

        <% end %>

        <div class="field">
          <%= f.label :name, class:"field-label" %>
          <%= f.text_field :name, class:"field-input" %>
        </div>

        <div class="field">
          <%= f.label :email, class:"field-label" %>
          <%= f.text_field :email, class:"field-input" %>
        </div>

        <div class="field">
          <%= f.label :title, class:"field-label" %>
          <%= f.text_field :title, class:"field-input" %>
        </div>

        <div class="field">
          <%= f.label :direct_report, "Direct Manager", class:"field-label" %>
          <%= f.text_field :direct_report, class:"field-input" %>
        </div>

        <div class="field-label" style="padding-top: 15px;">
          <b>Profile Picture</b>
        </div>

        <div class="avatar_container">
          <%= f.file_field :avatar %>
        </div>
        </br>
        <div style="text-align: left;">
          <b>OR</b>
        </div>

        <div class="check-box">
          <%= f.check_box :intranet %>
          <%= f.label :intranet, "Request intranet photo upload (takes up to 24 hours)" %>
        </div>

        <div class="check-box">
          <%= f.check_box :image_delete %>
          <%= f.label :image_delete, "Delete Image" %>
        </div>

        <%= f.fields_for :signup_attributes do |s| %>
          <%= s.hidden_field :step_two, value: true %>
        <% end %>

        <div class="divider"></div>

        <div class="center-float-wrap">
          <div class="float">
            <%= f.submit "SUBMIT", class:"submit-green" %>
          </div>

          <div class="float">
            <%= link_to :logout, class:"cancel-link" do %>
              <div class="delete">CANCEL</div>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to set up profile</h1>
  <% end %>
</div>
