<div class="container" style="width: 80%; text-align: center; margin-top: 0; margin-bottom: 0;">
  <h1>6/6</h1>

  <div class="divider"></div>

  <div class="center-float-wrap">
    <div class="float">
      <%= form_for(current_user) do |f| %>
        <%= f.hidden_field :agreement, value: true %>
        <%= f.fields_for :signup_attributes do |s| %>
          <%= s.hidden_field :step_six, value: true %>
        <% end %>
        <%= f.submit "AGREE", class:"submit-green" %>
      <% end %>
    </div>

    <div class="float">
      <%= link_to :logout, class:"cancel-link" do %>
        <div class="delete">CANCEL</div>
      <% end %>
    </div>
  </div>
</div>
