<%= form_for([@user, @badge]) do |f| %>
  <% if @badge.errors.any? %>
    <h2 class="error-header"><%= pluralize(@badge.errors.count, "error") %> occurred!</h2>

    <ul class="error-list">
      <% @badge.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <div class="field">
    <%= f.label :name, class:"field-label" %>
    <%= f.text_field :name, class:"field-input", placeholder:"Skill or Experience" %>
  </div>

  <div class="field">
    <%= f.label :description, class:"field-label" %>
    <%= f.text_area :description, class:"field-input", placeholder:"Describe your skill or experience in 500 characters or less." %>
  </div>

  <div class="center-float-wrap">
    <div class="float">
      <%= f.submit "SUBMIT", class:"submit-green" %>
    </div>

    <div class="float">
      <%= link_to "/users/#{current_user.id}", class:"cancel-link" do %>
        <div class="submit-blue">CANCEL</div>
      <% end %>
    </div>
  </div>

<% end %>
