<%= form_for([@user, @badge]) do |f| %>
  <% if @badge.errors.any? %>
    <h2 class="error-header"><%= pluralize(@badge.errors.count, "error") %> occurred!</h2>

    <ul class="error-list">
      <% @badge.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <div class="field">
    <% if current_page?(action: "new") %>
      <%= f.label :name, "Name of Credential", class:"field-label" %>
      <%= f.text_field :name, class:"field-input" %>
    <% elsif current_page?(action: "exp") %>
      <%= f.label :name, "Type of Experience", class:"field-label" %>
      <%= f.text_field :name, class:"field-input", placeholder:"(e.g) 15 years in finance" %>
    <% else %>
      <%= f.label :name, "Badge title", class:"field-label" %>
      <%= f.text_field :name, class:"field-input" %>
   <% end %>
  </div>

  <div class="field">
    <%= f.label :description, class:"field-label" %>
    <% if current_page?(action: "new") %>
      <%= f.text_area :description, class:"field-input", placeholder:"Describe your credentials in 500 characters or less." %>
    <% elsif current_page?(action: "exp") %>
      <%= f.text_area :description, class:"field-input", placeholder:"(e.g) Headed finance department at Rena" %>
    <% else %>
      <%= f.text_area :description, class:"field-input", placeholder:"Describe your #{@badge.name} badge in 500 characters or less."%>
   <% end %>
  </div>

  <% if current_page?(action: "new") %>
    <%= f.hidden_field :education, value: true %>
  <% elsif current_page?(action: "exp")%>
    <%= f.hidden_field :exp, value: true %>
  <% end %>

  <div class="center-float-wrap">
    <div class="float">
      <%= f.submit "SUBMIT", class:"submit-green" %>
    </div>

  <% end %>
