<div class="container" style="width: 80%; text-align: center; margin-top: 0; margin-bottom: 0;">
  <% if current_user %>
    <h2 class="form-option" style="padding-bottom: 30px;">Education badges</h2>

    <div class="badge-row">
      <%= button_to 'B.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "B.A.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'B.Sc.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "B.Sc.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'B.B.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "B.B.A.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.A.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.Sc.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.Sc.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'Ph.D.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "Ph.D.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'J.D.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "J.D.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.B.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.B.A", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.D.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.D.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'CPA', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "CPA", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'CFA', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "CFA", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'P.Eng.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "P.Eng.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'M.P.A.', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "M.P.A.", :green => true}}, method: :post, class:"badge-green" %>
      <%= button_to 'PMP', {:controller => 'badges', :action => 'create', badge: {:education => true, :user_id => current_user.id, :name => "PMP", :green => true}}, method: :post, class:"badge-green" %>
    </div>

    <h2 class="form-title" style="clear: both; padding-top: 50px;">Can't find your education credentials? Create a custom badge below</h2>

    <%= render 'badges_form' %>

      <div class="float">
        <%= link_to "BACK TO PROFILE", "/users/#{current_user.id}", class:"submit-blue", style:"margin-left: 15px;" %>
      </div>
    </div>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to create a badge</h1>
  <% end %>
</div>
