<div class="background" style="height: 2000px;">
  <% if current_user && current_user == @user %>
    <h1 class="form-title" style="padding-top: 3%; margin-bottom: 3%;">Pick an existing badge below:</h1>

    <div class="container" style="margin-top: 15px">
      <%= button_to 'Administrative Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Administrative Services", :blue => true}}, method: :post, class:"submit" %>
      <%= button_to 'Communications', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Communications", :red => true}}, method: :post, class:"submit", style:"background-color: #CC0000;" %>
      <%= button_to 'Finance', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Finance", :green => true}}, method: :post, class:"submit", style:"background-color: #90D150;"  %>
      <%= button_to 'Human Resources', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Human Resources", :yellow => true}}, method: :post, class:"submit", style:"background-color: #FFC33C;" %>
      <%= button_to 'Information Management', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Information Management", :purple => true}}, method: :post, class:"submit", style:"background-color: #4B0082;" %>
      <%= button_to 'I & IT', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "I & IT", :pink => true}}, method: :post, class:"submit", style:"background-color: #FF69B4;" %>
      <%= button_to 'Program Planning and Evaluation', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Program Planning and Evaluation", :grey => true}}, method: :post, class:"submit", style:"background-color: rgb(102,102,102);" %>
      <%= button_to 'Policy and Analysis', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Policy and Analysis", :blue => true}}, method: :post, class:"submit" %>
      <%= button_to 'Social Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Social Services", :red => true}}, method: :post, class:"submit", style:"background-color: #CC0000;" %>
      <%= button_to 'Scientific Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Scientific Services", :green => true}}, method: :post, class:"submit", style:"background-color: #90D150;"  %>
      <%= button_to 'Legal/Regulatory Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Legal/Regulatory Services", :yellow => true}}, method: :post, class:"submit", style:"background-color: #FFC33C;" %>
      <%= button_to 'Technical Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Technical Services", :purple => true}}, method: :post, class:"submit", style:"background-color: #4B0082;" %>

      <h3 style="text-align: center; margin-top: 50px; margin-bottom: 0;"><b>OR</b> create a custom badge:</h3>
      <%= render 'badges_form' %>
    </div>
  <% elsif current_user && current_user != @user %>
    <h1 class="form-title" style="padding-top: 3%; margin-bottom: 3%;">Create a custom badge:</h1>

    <div class="container" style="margin-top: 15px">
      <%= render 'badges_form' %>
      
      <h3 style="text-align: center; margin-top: 50px; margin-bottom: 0;"><b>OR</b> pick an existing badge below:</h3>
      <%= button_to 'Administrative Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Administrative Services", :blue => true}}, method: :post, class:"submit" %>
      <%= button_to 'Communications', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Communications", :red => true}}, method: :post, class:"submit", style:"background-color: #CC0000;" %>
      <%= button_to 'Finance', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Finance", :green => true}}, method: :post, class:"submit", style:"background-color: #90D150;"  %>
      <%= button_to 'Human Resources', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Human Resources", :yellow => true}}, method: :post, class:"submit", style:"background-color: #FFC33C;" %>
      <%= button_to 'Information Management', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Information Management", :purple => true}}, method: :post, class:"submit", style:"background-color: #4B0082;" %>
      <%= button_to 'I & IT', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "I & IT", :pink => true}}, method: :post, class:"submit", style:"background-color: #FF69B4;" %>
      <%= button_to 'Program Planning and Evaluation', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Program Planning and Evaluation", :grey => true}}, method: :post, class:"submit", style:"background-color: rgb(102,102,102);" %>
      <%= button_to 'Policy and Analysis', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Policy and Analysis", :blue => true}}, method: :post, class:"submit" %>
      <%= button_to 'Social Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Social Services", :red => true}}, method: :post, class:"submit", style:"background-color: #CC0000;" %>
      <%= button_to 'Scientific Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Scientific Services", :green => true}}, method: :post, class:"submit", style:"background-color: #90D150;"  %>
      <%= button_to 'Legal/Regulatory Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Legal/Regulatory Services", :yellow => true}}, method: :post, class:"submit", style:"background-color: #FFC33C;" %>
      <%= button_to 'Technical Services', {:controller => 'badges', :action => 'create', badge: {:user_id => @user.id, :name => "Technical Services", :purple => true}}, method: :post, class:"submit", style:"background-color: #4B0082;" %>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to create a badge</h1>
  <% end %>
</div>
