<div class="background" style="text-align: center;">
  <% if current_user %>
    <ul class="badge-details">

      <h2 class="badge-detail-title"><%= "#{@user.name}" %>'s badge details</h2>

      <div class="badge-show-green">
        <h2 class="badge-show-title"><%= @badge.name %></h2>
      </div>

      <div class="badge-description-wrap">
        <p class="badge-description"><%= @badge.description %></p>
      </div>

      <% if current_user.liked? @badge %>
        <%= link_to image_tag('thumbs-up-empty.svg', class:"thumbs-empty"), unlike_badge_path(@badge.id), method: :put, remote: true, id: "like_#{@badge.id}" %>
        <%= render 'likes' %>
      <% else %>
        <%= link_to image_tag('thumbs-up.svg', class:"thumbs-up"), like_badge_path(@badge.id), method: :put, remote: true, id: "like_#{@badge.id}" %>
        <%= render 'likes' %>
      <% end %>

      <% if current_user.id == @badge.user_id %>
        <div class="center-float-wrap">
          <% if @badge.opportunity_id == nil && @badge.education != nil %>
            <div class="float" id="badge-button">
              <%= link_to 'ADD MORE EDUCATION', "/users/#{@user.id}/badges/new",
              class:"submit-green", style:"width: 240px; margin: 15px auto;" %>
            </div>
          <% elsif @badge.opportunity_id == nil && @badge.exp != nil %>
            <div class="float" id="badge-button">
              <%= link_to 'ADD MORE EXPERIENCE', "/badges/exp",
              class:"submit-green", style:"width: 240px; margin: 15px auto;" %>
            </div>
          <% end %>

          <div class="float" id="badge-button">
            <%= link_to "BACK TO PROFILE", "/users/#{@user.id}",
            class:"submit-blue", style:"width: 200px; margin: 15px auto;" %>
          </div>

          <div class="float" id="badge-button">
            <%= link_to "EDIT", "/users/#{@user.id}/badges/#{@badge.id}/edit",
            class:"submit-green", style:"width: 90px; margin: 15px auto;" %>
          </div>

          <% if @badge.opportunity_id == nil %>
            <div class="float" id="badge-button">
              <%= button_to 'DELETE BADGE', {:controller => 'badges', :action =>
                 'destroy', :user_id => current_user.id, :id => "#{@badge.id}"},
                  method: :delete, data: { confirm: "You sure? Badge will be permanently removed!" },
                  class:"delete", style: "margin: 15px auto;" %>
            </div>
          <% else %>
            <div class="float" style="width: 100%;">
              <%= button_to 'DELETE BADGE', {:controller => 'badges', :action =>
                 'destroy', :user_id => current_user.id, :id => "#{@badge.id}"},
                  method: :delete, data: { confirm: "You sure? Badge will be permanently removed!" },
                  class:"delete", style: "margin: 15px auto;" %>
            </div>
          <% end %>

      <% else %>
        <%= link_to "BACK TO PROFILE", "/users/#{@user.id}", class:"submit-blue" %>
      <% end %>

    </ul>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view <%= User.find(@badge.user_id).name %>'s badge</h1>
  <% end %>
</div>
