<div class="badge-container" style="background-color: #2081A1;">
  <% if current_user && @badge.user_id == @user.id %>
    <h2 class="badge-title" style="padding-top: 2%; margin-top: 0;"><%= "#{@user.name}" %>'s badges</h2>

    <ul>
      <!-- Display Red Badge -->
      <% @user.badges.where(red: true, id: @badge.id).each do |b| %>
      <div class="badge-red", style="height: 200px; width: 200px; border-radius: 125px;">
        <h2 class="profile-badges", style="margin-top: 80px;">
          <%= b.name %>
        </h2>
      </div>
        <p class="badge-description"><%= b.description %></p>
      <% end %>
      <!-- Display Blue Badges -->
      <% @user.badges.where(blue: true, id: @badge.id).each do |b| %>
      <div class="badge-blue", style="height: 200px; width: 200px; border-radius: 125px;">
        <li class="profile-badges", style="margin-top: 80px;">
          <%= b.name %>
          <%= b.description %>
        </li>
      </div>
      <% end %>
      <!-- Display Yellow Badges -->
      <% @user.badges.where(yellow: true, id: @badge.id).each do |b| %>
      <div class="badge-yellow", style="height: 200px; width: 200px; border-radius: 125px;">
        <li class="profile-badges", style="margin-top: 80px;">
          <%= b.name %>
        </li>
      </div>
      <p class="badge-description"><%= b.description %></p>
      <% end %>
      <!-- Display Green Badges -->
      <% @user.badges.where(green: true, id: @badge.id).each do |b| %>
      <div class="badge-green", style="height: 200px; width: 200px; border-radius: 125px;">
        <li class="profile-badges", style="margin-top: 80px;">
          <%= b.name %>
          <%= b.description %>
        </li>
      </div>
      <% end %>
      <!-- Display Purple Badges -->
      <% @user.badges.where(purple: true, id: @badge.id).each do |b| %>
      <div class="badge-purple", style="height: 200px; width: 200px; border-radius: 125px;">
        <li class="profile-badges", style="margin-top: 80px;">
          <%= b.name %>
          <%= b.description %>
        </li>
      </div>
      <% end %>
      <!-- Display Pink Badges -->
      <% @user.badges.where(pink: true, id: @badge.id).each do |b| %>
      <div class="badge-pink", style="height: 200px; width: 200px; border-radius: 125px;">
        <li class="profile-badges", style="margin-top: 80px;">
          <%= b.name %>
          <%= b.description %>
        </li>
      </div>
      <% end %>
      <!-- Display Grey Badges -->
      <% @user.badges.where(grey: true, id: @badge.id).each do |b| %>
      <div class="badge-grey", style="height: 200px; width: 200px; border-radius: 125px;">
        <li class="profile-badges", style="margin-top: 80px;">
          <%= b.name %>
          <%= b.description %>
        </li>
      </div>
      <% end %>
    </ul>
  <% else  %>
    <div class="background">
      <h1 class="login-message"><%= link_to "LOGIN", :login %> to view <%= @user.name %>'s badge</h1>
    </div>
  <% end %>
</div>
