<div class="background">
  <% if current_user %>
    <h2 class="badge-detail-title"><%= "#{@user.name}" %>'s badge details</h2>

    <ul class="badge-details">

      <!-- Display Red Badge -->
      <% if @badge.red == true %>
      <div class="badge-red", style="height: 400px; width: 400px; border-radius: 200px; float: left;">
        <h2 class="profile-badges", style="margin-top: 40%;">
          <%= @badge.name %>
        </h2>
      </div>
      <% end %>

      <!-- Display Blue Badges -->
      <% if @badge.blue == true %>
      <div class="badge-blue", style="height: 400px; width: 400px; border-radius: 200px; float: left;">
        <h2 class="profile-badges", style="margin-top: 40%;">
          <%= @badge.name %>
        </h2>
      </div>
      <% end %>

      <!-- Display Yellow Badges -->
      <% if @badge.yellow == true %>
      <div class="badge-yellow", style="height: 400px; width: 400px; border-radius: 200px; float: left;">
        <h2 class="profile-badges", style="margin-top: 40%;">
          <%= @badge.name %>
        </h2>
      </div>
      <% end %>

      <!-- Display Green Badges -->
      <% if @badge.green == true %>
      <div class="badge-green", style="height: 400px; width: 400px; border-radius: 200px; float: left;">
        <h2 class="profile-badges", style="margin-top: 40%;">
          <%= @badge.name %>
        </h2>
        </div>
      <% end %>

      <!-- Display Purple Badges -->
      <% if @badge.purple == true %>
      <div class="badge-purple", style="height: 400px; width: 400px; border-radius: 200px; float: left;">
        <h2 class="profile-badges", style="margin-top: 40%;">
          <%= @badge.name %>
        </h2>
      </div>
      <% end %>

      <!-- Display Pink Badges -->
      <% if @badge.pink == true %>
      <div class="badge-pink", style="height: 400px; width: 400px; border-radius: 200px; float: left;">
        <h2 class="profile-badges", style="margin-top: 40%;">
          <%= @badge.name %>
        </h2>
      </div>
      <% end %>

      <!-- Display Grey Badges -->
      <% if @badge.grey == true %>
      <div class="badge-grey", style="height: 400px; width: 400px; border-radius: 200px; float: left;">
        <h2 class="profile-badges", style="margin-top: 40%;">
          <%= @badge.name %>
        </h2>
      </div>
      <% end %>
    </ul>

    <div class="home-right">
      <h4 class="badge-detail-title" style="text-align: left;">Endorsements</h4>

      <% if current_user.liked? @badge %>
        <%= link_to '', unlike_badge_path(@badge.id), method: :put, remote: true, id: "like_#{@badge.id}", class:"glyphicon glyphicon-heart" %>
        <p class="profile-badges"></p>
        <%= render 'likes' %>
      <% else %>
        <%= link_to '', like_badge_path(@badge.id), method: :put, remote: true, id: "like_#{@badge.id}", class:"glyphicon glyphicon-heart-empty" %>
        <p class="profile-badges"></p>
        <%= render 'likes' %>
      <% end %>

      <p class="badge-description"><%= @badge.description %></p>

      <%= render 'edit-badge-button' %>
    </div>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view <%= User.find(@badge.user_id).name %>'s badge</h1>
  <% end %>
</div>
