<ul class="badge-list">
  <div class="inner-left">
    <p class="badge-types"><b>Skills & Experience Badges</b></p>
    <!-- Display Green Badges -->
    <% @user.badges.where(green: true, opportunity_id: nil).each do |b| %>
      <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
        <div class="badge-green">
          <li class="profile-badges-name">
            <%= "#{b.name}" %>
          </li></br>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="inner-middle">
    <p class="badge-types"><b>Employee Engagement App Badges</b></p>
    <!-- Display Green Badges -->
    <% @user.badges.where(green: true).where.not(opportunity_id: nil).each do |b| %>
      <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
        <div class="badge-green">
          <li class="profile-badges-name">
            <%= "#{b.name}" %>
          </li></br>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="inner-right">
    <p class="badge-types"><b>Recognition Badges</b></p>
    <!-- Display Green Badges -->
    <% @user.received_badges.each do |b| %>
      <%= link_to "/users/#{@user.id}/recognitions/#{b.id}" do %>
        <div class="badge-green">
          <li class="profile-badges-name">
            <%= "#{b.name}" %>
          </li></br>
        </div>
      <% end %>
    <% end %>
  </div>
</ul>
