<!-- Display Red Badges -->
<% @user.badges.where(red: true).each do |b| %>
  <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
    <div class="badge-red">
      <li class="profile-badges">
        <%= "#{b.name}" %>
      </li></br>
    </div>
  <% end %>
<% end %>
<!-- Display Blue Badges -->
<% @user.badges.where(blue: true).each do |b| %>
  <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
    <div class="badge-blue">
      <li class="profile-badges">
        <%= "#{b.name}" %>
      </li></br>
    </div>
  <% end %>
<% end %>
<!-- Display Yellow Badges -->
<% @user.badges.where(yellow: true).each do |b| %>
  <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
    <div class="badge-yellow">
      <li class="profile-badges">
        <%= "#{b.name}" %>
      </li></br>
    </div>
  <% end %>
<% end %>
<!-- Display Green Badges -->
<% @user.badges.where(green: true).each do |b| %>
  <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
    <div class="badge-green">
      <li class="profile-badges">
        <%= "#{b.name}" %>
      </li></br>
    </div>
  <% end %>
<% end %>
<!-- Display Purple Badges -->
<% @user.badges.where(purple: true).each do |b| %>
  <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
    <div class="badge-purple">
      <li class="profile-badges">
        <%= "#{b.name}" %>
      </li></br>
    </div>
  <% end %>
<% end %>
<!-- Display Pink Badges -->
<% @user.badges.where(pink: true).each do |b| %>
  <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
    <div class="badge-pink">
      <li class="profile-badges">
        <%= "#{b.name}" %>
      </li></br>
    </div>
  <% end %>
<% end %>
<!-- Display Grey Badges -->
<% @user.badges.where(grey: true).each do |b| %>
  <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
    <div class="badge-grey">
      <li class="profile-badges" style="color: black;">
        <%= "#{b.name}" %>
      </li></br>
    </div>
  <% end %>
<% end %>
