<div class="quarter">
  <%= image_tag('csd-logo-white.png', class:"csd-logo") %>

  <ul class="feed-list">
    <li class="feed-item"><%= link_to "ADM's Office", "/users/admo_org_chart" %></li>
    <li class="feed-item"><%= link_to "Business Planning & Finance", "/users/bpf_org_chart" %></li>
    <li class="feed-item"><%= link_to "Service Management & Facilities", "/users/smf_org_chart" %></li>
    <li class="feed-item"><%= link_to "Strategic Human Resources", "/users/hr_org_chart" %></li>
  </ul>
</div>
