<div class="quarter">
  <div class="white-box">
    <%= image_tag('CSD-logo.jpg', class:"csd-logo") %>
  </div>
  
  <ul class="feed-list">
    <li class="feed-link"><%= link_to "ADM's Office", "/users/admo_org_chart" %></li>
    <li class="feed-link"><%= link_to "Business Planning & Finance", "/users/bpf_org_chart" %></li>
    <li class="feed-link"><%= link_to "Service Management & Facilities", "/users/smf_org_chart" %></li>
    <li class="feed-link"><%= link_to "Strategic Human Resources", "/users/hr_org_chart" %></li>
  </ul>
</div>
