<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="#edu" data-toggle="pill">Education</a></li>
  <li role="presentation"><a href="#skillz" data-toggle="pill">Experience</a></li>
  <li role="presentation"><a href="#eventz" data-toggle="pill">Events</a></li>
  <li role="presentation"><a href="#recognitionz" data-toggle="pill">Recognition</a></li>
</ul>

<div class="tab-content">
  <div role="tabpane1" class="tab-pane active" id="edu">
    <p class="badge-list-title" style="left: 10px;"><%= link_to "Add more on your education", "/users/#{current_user.id}/badges/new", class:"team-link" %></p>
    <div class="badge-row" style="padding-top: 30px;">
      <!-- Display Green Badges -->
      <% @user.badges.where(opportunity_id: nil, education: true).each do |b| %>
        <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
          <div class="badge-green">
            <li class="profile-badges-name">
              <%= "#{b.name}" %>
            </li></br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div role="tabpane1" class="tab-pane" id="skillz">
    <p class="badge-list-title" style="left: 25%;"><%= link_to "Add another skill or experience", "/badges/exp", class:"team-link" %></p>
    <div class="badge-row" style="padding-top: 30px;">
      <!-- Display Green Badges -->
      <% @user.badges.where(opportunity_id: nil, exp: true).each do |b| %>
        <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
          <div class="badge-green">
            <li class="profile-badges-name">
              <%= "#{b.name}" %>
            </li></br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div role="tabpane1" class="tab-pane" id="eventz">
    <p class="badge-list-title" style="right: 30%;"><%= link_to "View events", "/users/opps", class:"team-link" %></p>
    <div class="badge-row" style="padding-top: 30px;">
      <!-- Display Green Badges -->
      <% @user.badges.where.not(opportunity_id: nil).each do |b| %>
        <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
          <div class="badge-green">
            <li class="profile-badges-name">
              <%= "#{b.name}" %>
            </li></br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div role="tabpane1" class="tab-pane" id="recognitionz">
    <p class="badge-list-title" style="right: 10px;"><%= link_to "Recognize colleagues", "/users/org_charts", class:"team-link" %></p>
    <div class="badge-row" style="padding-top: 30px;">
      <!-- Display Green Badges -->
      <% @user.received_badges.each do |b| %>
        <%= link_to "/users/#{@user.id}/recognitions/#{b.id}" do %>
          <div class="badge-green">
            <li class="profile-badges-name">
              <%= "#{b.name}" %>
            </li></br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
