<div class="row">
  <h4 class="profile-title">Bucket List</h4>
  <p class=""><%= link_to "View Bucket List", opportunities_url, class:"team-link" %></p>

  <!-- Display Exp/skills Badges -->
  <% @user.badges.where.not(opportunity_id: nil).each do |b| %>
    <div class='row' style='margin-top: 15px; margin-bottom: 20px;'>
      <div class='blank-quarter'>
        <%= image_tag 'education_icon.png', class:'badge-icon' %>
      </div>

      <div class='half'>
        <p class="badge-text"><%= b.name %></p>
        <p class="badge-text"><%= b.description %></p>
      </div>

      <div class='blank-quarter' style='width: 23%; margin-right: 2%;'>
        <div class="float" id="badge-button">
          <%= link_to "EDIT", "/users/#{@user.id}/badges/#{b.id}/edit",
              class:"submit-green", style:"margin: 15px auto;" %>
        </div>

        <div class="float" id="badge-button">
          <%= button_to 'DELETE', {:controller => 'badges', :action =>
             'destroy', :user_id => current_user.id, :id => b.id},
              method: :delete, data: { confirm: "You sure? Badge will be permanently removed!" },
              class:"delete", style: "margin: 15px auto;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <h4 class="profile-title">Recognition</h4>
  <p class=""><%= link_to "Recognize colleagues", "/users/home", class:"team-link" %></p>

  <!-- Display Recognition Badges -->
  <% @user.received_badges.each do |b| %>
    <div class='row' style='margin-top: 15px; margin-bottom: 20px;'>
      <div class='blank-quarter'>
        <%= image_tag 'recognition_icon.png', class:'badge-icon' %>
      </div>

      <div class='half'>
        <p class="badge-text"><%= b.name %></p>
        <p class="badge-text"><%= b.description %></p>
      </div>

      <div class='blank-quarter' style='width: 23%; margin-right: 2%;'>
        <div class="float" id="badge-button">
          <%= link_to "EDIT", "/users/#{@user.id}/badges/#{b.id}/edit",
              class:"submit-green", style:"margin: 15px auto;" %>
        </div>

        <div class="float" id="badge-button">
          <%= button_to 'DELETE', {:controller => 'badges', :action =>
             'destroy', :user_id => current_user.id, :id => b.id},
              method: :delete, data: { confirm: "You sure? Badge will be permanently removed!" },
              class:"delete", style: "margin: 15px auto;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
