<% if @user.avatar.file? == true %>
  <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>
<% else %>
  <div class="default-pic">
    <span class="glyphicon glyphicon-user" style="font-size: 80px;"></span>
    <%= link_to "ADD PIC", edit_user_url(@user), class:"submit-green", style:"margin: 2.5 auto; width: 120px;" %>
  </div>
<% end %>

<ul style="padding-left: 0;">
  <% if @user.adm_office == true %>
    <li class="team-info"><%= link_to "ADM Office", "/users/admo_org_chart", class:"team-link" %></li>
  <% elsif @user.strategic_human_resources == true %>
    <li class="team-info"><%= link_to "Human Resources", "/users/hr_org_chart", class:"team-link" %></li>
  <% elsif @user.service_management_and_facilities == true %>
    <li class="team-info"><%= link_to "Service Management & Facilities", "/users/smf_org_chart", class:"team-link" %></li>
  <% elsif @user.business_planning_and_finance == true %>
    <li class="team-info"><%= link_to "Business Planning and Finance", "/users/bpf_org_chart", class:"team-link" %></li>
  <% end %>
  <li class="profile-info"><b>Title:</b> <%= @user.title %></li>
  <!-- <li class="profile-info"><b>Email:</b> <%= @user.email %></li> -->
  <!-- <li class="profile-info"><b>Phone:</b> <%= @user.phone %></li> -->
  <% if @user.job_description == nil %>
    <%= link_to "ADD JOB DESCRIPTION", edit_user_url(@user), class:"submit-green", style:"margin: 2.5 auto; text-align: center; width: 160px;" %>
  <% else %>
    <li class="team-info"><%= @user.job_description %></li>
  <% end %>
</ul>
