<div class="blank-quarter">
  <% if @user.avatar.file? == true %>
    <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>
  <% else %>
    <div class="default-pic">
      <span class="glyphicon glyphicon-user" style="font-size: 80px;"></span>
    </div>
  <% end %>

  <% if current_user != @user %>
    <p class="badge-new-wrap"><%= link_to 'RECOGNIZE', "/users/#{@user.id}/recognitions/new", class:"submit-green", style:"margin: auto;" %></p>
  <% end %>
</div>

<div class="three-quarters">
  <ul class="profile-details">
    <li class="profile-info"><b><h3><%= @user.name %></h3></b></li>
    <li class="profile-info"><b><%= @user.title %></b></li>
    <% if @user.job_description == nil || @user.job_description == "" %>
      <li class="profile-info" style="font-style: italic;">Describe your responsibilities and experience in 500 characters or less.</li>
    <% else %>
      <li class="profile-info" style="font-style: italic;"><%= @user.job_description %></li>
    <% end %>
    <li class="profile-info"><b><%= @user.email %></b></li>
    <li class="profile-info"><b>Manager:<%= @user.direct_report %></b></li>
    <li class="profile-info"><b>Skills I'm currently developing:</b> <%= @user.career_aspirations %></li>
  </ul>
</div>
