<% if current_user %>
  <h1 class="org-title">ADM's Office</h1>

  <section class="org-container">
    <% @users.where(adm_office: true, adm: true).each do |a| %>
    <div id="level-0" class="level expanded">
      <div class="level-wrap">
        <div id="level-0-active" class="col-1-3 active">

          <div class="element">
            <div class="org-box">

              <div class="org-header">
                <h4 class="branch"><%= "#{a.title}" %><span class=""></span></i></h4>

                <!-- <div class="context">
                  <span class="glyphicon glyphicon-menu-down"></span>
                </div> -->
              </div>

              <div class="org-details">
                <p class="boss-name"><%= link_to "#{a.name}", "/users/#{a.id}" %></p>
              </div>

              <!-- <%= link_to "/users/#{a.id}", class:"info-btn" do %> -->
                <div class="info-btn"><span class="glyphicon glyphicon-user"></span></div>
              <!-- <% end %> -->

            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
    <% end %>

    <div id="level-1" class="level">
      <div class="level-wrap">

        <div id="level-1-active" class="col-1-3 active">
          <div class="element"></div>
        </div>

        <div id="level-1-list" class="col-1-3 list">

          <h3 style="text-align: center;">Staff</h3>

          <ul>
            <% @users.where(adm_office: true, adm: false || nil).each do |b| %>
            <li class="element">
              <div class="org-box">
                <div class="org-header">
                  <h4 class="branch"><%= "#{b.title}" %><span class=""></span></h4>

                  <!-- <div class="context">
                    <span class="glyphicon glyphicon-menu-down"></span>
                  </div> -->
                </div>

                <div class="org-details">
                  <p class="boss-name"><%= link_to "#{b.name}", "/users/#{b.id}" %></p>
                </div>

                <!-- <%= link_to "/users/#{b.id}", class:"info-btn" do %> -->
                  <div class="info-btn"><span class="glyphicon glyphicon-user"></span></div>
                <!-- <% end %> -->

              </div>
            </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </section>
<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Interactive Org Chart</h1>
<% end %>
