<div class="background">
  <% if current_user == @user %>
    <h1 class="form-title">Edit Account Settings</h1>

    <div class="container">
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <h2 class="error-header"><%= pluralize(@user.errors.count, "error") %> occurred!</h2>

          <ul class="error-list">
            <% @user.errors.full_messages.each do |msg| %>
              <li class="error-msg"><%= msg %></li>
            <% end %>
          </ul>

        <% end %>

        <div class="field">
          <%= f.label :email, class:"field-label" %>
          <%= f.text_field :email, class:"field-input" %>
        </div>

        <div class="field">
          <%= f.label :name, class:"field-label" %>
          <%= f.text_field :name, class:"field-input" %>
        </div>

        <div class="field">
          <%= f.label :title, class:"field-label" %>
          <%= f.text_field :title, class:"field-input" %>
        </div>

        <div class="field">
          <%= f.label :job_description, class:"field-label" %>
          <%= f.text_area :job_description, class:"field-input", placeholder:"What sort of progress were you hoping to achieve by signing up for this service?" %>
        </div>

        <div class="field-label" style="padding-top: 15px;">
          <b>Profile Picture</b>
        </div>

        <div class="avatar_container">
          <%= f.file_field :avatar %>
        </div>

        <div class="divider"></div>

        <h5 style="padding-top: 15px;">Please check the relevant Branch/Office</h5>

        <div class="check-box">
          <%= f.check_box :adm_office%>
          <%= f.label :adm_office, "ADM Office" %>
        </div>

        <div class="check-box">
          <%= f.check_box :strategic_human_resources %>
          <%= f.label :strategic_human_resources, "Strategic Human Resources" %>
        </div>

        <div class="check-box">
          <%= f.check_box :service_management_and_facilities %>
          <%= f.label :service_management_and_facilities, "Service Management and Facilities" %>
        </div>

        <div class="check-box">
          <%= f.check_box :business_planning_and_finance %>
          <%= f.label :business_planning_and_finance, "Business Planning and Finance" %>
        </div>

        <div class="divider"></div>

        <h5 style="padding-top: 15px;">Please check the relevant managerial level</h5>

        <div class="check-box">
          <%= f.check_box :adm %>
          <%= f.label :adm, "ADM" %>
        </div>

        <div class="check-box">
          <%= f.check_box :director %>
          <%= f.label :director %>
        </div>

        <div class="check-box">
          <%= f.check_box :manager %>
          <%= f.label :manager %>
        </div>

        <div class="check-box">
          <%= f.check_box :staff %>
          <%= f.label :staff %>
        </div>

        <%= f.submit "SUBMIT", class:"submit-blue" %>

      <% end %>
    </div>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to edit profile</h1>
  <% end %>
</div>
