<% if current_user %>
  <h1 class="org-title">Activity Feed</h1>

  <div class="feed-wrap">
    <div class="quarter">
      <h4 class="feed-title", style="margin-top: 15px;">Who's been recognized?</h4>
      <% @received_badges.each do |r| %>
        <ul class="feed-list">
          <li class="feed-item"><%= User.find(r.receiver_id).name + " by " +
            User.find(r.recognizer_id).name + " for " %>
            <%= link_to  "#{r.name}", "/users/#{r.receiver_id}/recognitions/#{r.id}" %></li>
        </ul>
      <% end %>
    </div>

    <div class="quarter">
      <h4 class="feed-title", style="margin-top: 15px;">Who's getting involved?</h4>
      <% @opportunity_badges.each do |o| %>
        <ul class="feed-list">
          <li class="feed-item"><%= User.find(o.user_id).name + " is going to " %>
          <%= link_to "#{o.name}", "/users/#{o.user_id}/badges/#{o.id}" %></li>
        </ul>
      <% end %>
    </div>

    <div class="quarter">
      <h4 class="feed-title", style="margin-top: 15px;">Education of your colleagues</h4>
      <% @edu_badges.each do |b| %>
        <ul class="feed-list">
          <li class="feed-item"><%= User.find(b.user_id).name + " added " %>
          <%= link_to  "#{b.name}", "/users/#{b.user_id}/badges/#{b.id}" %> badge</li>
        </ul>
      <% end %>
    </div>

    <div class="quarter">
      <h4 class="feed-title", style="margin-top: 15px;">Experience of your colleagues</h4>
      <% @exp_badges.each do |e| %>
        <ul class="feed-list">
          <li class="feed-item"><%= User.find(e.user_id).name + " added "%>
          <%= link_to  "#{e.name}", "/users/#{e.user_id}/badges/#{e.id}" %> badge</li>
        </ul>
      <% end %>
    </div>
  </div>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Activity Feed</h1>
  <% end %>
