<% if current_user && current_user.co_op == nil %>
  <div class="quarter">
    <%= image_tag('csd-logo-white.png', class:"csd-logo") %>
    <p class="feed-title">New Career Advancement Opportunities</p>
      <ul class="feed-list">
        <% @opportunities.where("created_at > ? or updated_at > ?", @reset_time, @reset_time).each do |b| %>
          <li class="feed-item">
            <%= link_to "#{b.name}", "/opportunities/#{b.id}" %>
          </li>
        <% end %>
      </ul>

    <p class="feed-title">Who's been recognized?</p>
      <ul class="feed-list">
        <% @received_badges.where("created_at > ? or updated_at > ?", @reset_time, @reset_time).each do |r| %>
          <li class="feed-item">
            <%= link_to "#{User.find(r.receiver_id).name}", "/users/#{r.receiver_id}" %>
            <%= " by " + User.find(r.recognizer_id).name + " for " %>
            <%= link_to "#{r.name}", "/users/#{r.receiver_id}/recognitions/#{r.id}" %>
          </li>
        <% end %>
      </ul>
  </div>

  <div class="three-quarters">
    <%= image_tag('homepage-bg.jpg', class:'home-image') %>
    <h1 class="left-title">Welcome</h1>

    <p class="paragraph">
      <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in
      the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including
      versions of Lorem Ipsum. -->
    </p>
  </div>

  <% elsif current_user && current_user.co_op != nil %>
    <h1 class="org-title">Co-op Students</h1>

    <section class="org-container">
      <div id="level-1" class="level">
        <div class="level-wrap">
          <div id="level-1-active" class="col-1-3 active">
            <!-- <div class="element"></div> -->
          </div>
          <div id="level-1-list" class="col-1-3 list">
            <ul>
              <% @users.each do |b| %>
                <%= link_to "/users/#{b.id}" do %>
                  <li class="element" style="width: 240px;">
                    <div class="org-box">
                      <div class="org-header">
                        <h4 class="branch"><%= "#{b.title}" %><span class=""></span></h4>
                        <!-- <div class="context">
                          <span class="glyphicon glyphicon-menu-down"></span>
                        </div> -->
                      </div>
                        <div class="org-details">
                          <p class="boss-name" style="margin-left: 38%;"><%= b.name %></p>
                          <p class="badge-count" style="font-size: 12px; margin-left: 38%;"><b>Bucket List Badges:</b> <%= b.badges.where.not(opportunity_id: nil).count %></p>
                          <p class="badge-count" style="font-size: 12px; margin-left: 38%;"><b>Recognition Badges:</b> <%= b.received_badges.count %></p>
                        </div>
                      <% if b.avatar.file? != true %>
                        <div class="info-coop-btn"><span class="glyphicon glyphicon-user"></span></div>
                      <% else %>
                        <%= image_tag b.avatar.url(:medium), class:"org-profile-pic" %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </section>
<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view home page</h1>
<% end %>
