<% if current_user %>
  <!-- 1/4 container with logo & teal box -->

  <!--  Add 3/4 width container -->
  <%= image_tag('diverse.jpg', class:'home-image') %>
  <h1 class="left-title">Welcome</h1>

  <div class="half">
    <p class="feed-title">New Career Advancement Opportunities</p>
    <% @opportunities.where("created_at > ? or updated_at > ?", @reset_time, @reset_time).each do |b| %>
      <ul class="feed-list">
        <li class="feed-item">
          <%= link_to "#{b.name}", "/opportunities/#{b.id}" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="half">
    <p class="feed-title">Who's been recognized?</p>
    <% @received_badges.where("created_at > ? or updated_at > ?", @reset_time, @reset_time).each do |r| %>
      <ul class="feed-list">
        <li class="feed-item">
          <%= link_to "#{User.find(r.receiver_id).name}", "/users/#{r.receiver_id}" %>
          <%= " by " + User.find(r.recognizer_id).name + " for " %>
          <%= link_to "#{r.name}", "/users/#{r.receiver_id}/recognitions/#{r.id}" %>
        </li>
      </ul>
    <% end %>
  </div>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Activity Feed</h1>
  <% end %>
