<% if current_user %>
  <%= render 'office-sidebar' %>

  <section class="org-container">
    <h1 class="org-title">Strategic Human Resources</h1>

    <p class="legend-title">Unit by colour</p>

    <ul class="legend">
      <li class="legend-item"><span class="team-one"></span>Christina C</li>
      <li class="legend-item"><span class="team-two"></span>Annette A</li>
      <li class="legend-item"><span class="team-three"></span>Nav N</li>
      <li class="legend-item"><span class="team-four"></span>Jamie L</li>
    </ul>

    <% @users.where(strategic_human_resources: true, director: true).each do |a| %>
      <div id="level-0" class="level expanded">
        <div class="level-wrap">
          <div id="level-0-active" class="col-1-3 active">
            <%= link_to "/users/#{a.id}" do %>
              <div class="element">
                <div class="org-box">
                  <div class="org-header">
                    <h4 class="branch"><%= a.title %><span class=""></span></h4>
                  </div>
                  <% if a.avatar.file? != true %>
                    <div class="org-details">
                      <p class="boss-name"><%= a.name %></p>
                    </div>
                    <div class="info-btn"><span class="glyphicon glyphicon-user"></span></div>
                  <% else %>
                    <div class="org-details">
                      <p class="boss-name"><%= a.name %></p>
                    </div>
                    <%= image_tag a.avatar.url(:medium), class:"org-profile-pic" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div id="level-1" class="level">
      <div class="level-wrap">
        <div id="level-1-list" class="col-1-3 list">
          <ul>
            <% @users.where(strategic_human_resources: true, manager: true).each do |b| %>
              <%= link_to "/users/#{b.id}" do %>
                <li class="element">
                  <div class="org-box">
                    <% if b.team == 1 %>
                      <div class="org-header">
                    <% elsif b.team == 2 %>
                      <div class="org-header" id="team-2">
                    <% elsif b.team == 3 %>
                      <div class="org-header" id="team-3">
                    <% elsif b.team == 4 %>
                      <div class="org-header" id="team-4">
                    <% end %>
                    <h4 class="branch"><%= b.title %><span class=""></span></h4>
                  </div>
                    <% if b.avatar.file? != true %>
                      <div class="org-details">
                        <p class="boss-name"><%= b.name %></p>
                      </div>
                      <div class="info-btn"><span class="glyphicon glyphicon-user"></span></div>
                    <% else %>
                      <div class="org-details">
                        <p class="boss-name"><%= b.name %></p>
                      </div>
                      <%= image_tag b.avatar.url(:medium), class:"org-profile-pic" %>
                    <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <!--  "class=level hidden" to hide -->
    <div id="level-2" class="level">
      <div class="level-wrap">
        <div id="level-2-list" class="col-1-3 list">
          <ul>
            <% @users.where(strategic_human_resources: true, staff: true).each do |c| %>
              <%= link_to "/users/#{c.id}" do %>
                <li class="element">
                  <div class="org-box">
                    <% if c.team == 1 %>
                      <div class="org-header">
                    <% elsif c.team == 2 %>
                      <div class="org-header" id="team-2">
                    <% elsif c.team == 3 %>
                      <div class="org-header" id="team-3">
                    <% elsif c.team == 4 %>
                      <div class="org-header" id="team-4">
                    <% end %>
                    <h4 class="branch"><%= c.title %><span class=""></span></h4>
                  </div>
                    <% if c.avatar.file? != true %>
                      <div class="org-details">
                        <p class="boss-name"><%= c.name %></p>
                      </div>
                      <div class="info-btn"><span class="glyphicon glyphicon-user"></span></div>
                    <% else %>
                      <div class="org-details">
                        <p class="boss-name"><%= c.name %></p>
                      </div>
                      <%= image_tag c.avatar.url(:medium), class:"org-profile-pic" %>
                    <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Interactive Org Chart</h1>
<% end %>
