<%= render 'office-sidebar' %>

<div class="three-quarters">
  <% if params[:search] %>
    <h1 class="search-counter"><b style="color: #337ab7;"><%= @users.count %></b> Profiles found:</h1>
    <% @users.each do |u| %>
      <div class="blank-quarter">
        <% if u.avatar.file? == true %>
          <%= image_tag u.avatar.url(:medium), class:"profile-pic" %>
        <% else %>
          <div class="default-pic">
            <span class="glyphicon glyphicon-user" style="font-size: 80px;"></span>
          </div>
        <% end %>
      </div>

      <div class="three-quarters">
        <ul class="profile-details">
          <li class="profile-info"><b><h3><%= link_to "#{u.name}", "/users/#{u.id}", class:"team-link" %></h3></b></li>
          <li class="profile-info"><b><%= u.title %></b></li>
          <% if u.job_description == nil || u.job_description == "" %>
            <li class="profile-info" style="font-style: italic;">Describe your responsibilities and experience in 500 characters or less.</li>
          <% else %>
            <li class="profile-info" style="font-style: italic;"><%= u.job_description %></li>
          <% end %>
          <li class="profile-info"><b><%= u.email %></b></li>
          <li class="profile-info"><b>Direct report:</b> <%= u.direct_report %></li>
        </ul>
      </div>
      <div class="divider" style="clear: both;"></div>
    <% end %>
  <% end %>

  <% if @users.blank? %>
    <% flash[:alert] = "No results found for '#{params[:search]}'." %>
  <% end %>
</div>
