<div class="background">

  <h1 class="form-title">Employee Engagement App</h1>

  <div class="container">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <h2 class="error-header"><%= pluralize(@user.errors.count, "error") %> occurred!</h2>

        <ul class="error-list">
          <% @user.errors.full_messages.each do |msg| %>
            <li class="error-msg"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <h5 class="form-instructions">Enter employee account details below:</h5>

      <div class="field">
        <%= f.label :name, class:"field-label" %>
        <%= f.text_field :name, class:"field-input", required: true %>
      </div>
      
      <div class="field">
        <%= f.label :email, class:"field-label" %>
        <%= f.email_field :email, class:"field-input", type: 'email', required: true %>
      </div>

      <!-- Inject default password to be changed later -->
      <div class="field">
        <%= f.label :password, class:"field-label" %>
        <%= f.password_field :password, class:"field-input", placeholder:"At least 6 characters" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class:"field-label" %>
        <%= f.password_field :password_confirmation, class:"field-input", placeholder:"At least 6 characters" %>
      </div>

      <div class="field">
        <%= f.label :office, class:"field-label" %>
        <%= f.number_field :office, class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :chart_level, class:"field-label" %>
        <%= f.number_field :chart_level, class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :team, class:"field-label" %>
        <%= f.number_field :team, class:"field-input" %>
      </div>

      <%= f.submit "SIGN UP", class:"submit-blue" %>

    <% end %>
  </div>

</div>
