<% if current_user && current_user.co_op == nil %>
  <div class="carousel-container">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#opp-one" data-toggle="pill">Career Development Opportunities</a></li>
      <li role="presentation"><a href="#opp-two" data-toggle="pill">Courses & Learning Opportunities</a></li>
      <li role="presentation"><a href="#opp-three" data-toggle="pill">Personal Development Opportunities</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpane1" class="tab-pane active" id="opp-one">

        <%= link_to "/opportunities/#{@opportunity_2.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('emerging-leaders.jpg', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header" ><%= @opportunity_2.name %></h3>
              <div class="tile__title" ></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_1.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('window.jpg', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_1.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_3.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('professional.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_3.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_4.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('thinking.jpg', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_4.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_5.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_5.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_6.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_6.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

      </div>

      <div role="tabpane1" class="tab-pane" id="opp-two">

       <%= link_to "/opportunities/#{@opportunity_7.id}" do %>
         <div class="tile">
           <div class="tile__media">
              <%= image_tag('250.jpg', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header" ><%= @opportunity_7.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_8.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('eva.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_8.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_9.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('lunch&learn.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_9.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_10.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('huddle.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_10.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_11.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_11.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

      </div>

      <div role="tabpane1" class="tab-pane" id="opp-three">

        <%= link_to "/opportunities/#{@opportunity_12.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('professional.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_12.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_13.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('thinking.jpg', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_13.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_14.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('250.jpg', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_14.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_15.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_15.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

        <%= link_to "/opportunities/#{@opportunity_16.id}" do %>
          <div class="tile">
            <div class="tile__media">
              <%= image_tag('professional.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_16.name %></h3>
              <div class="tile__title"></div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

<% elsif current_user && current_user.co_op != nil %>
  <h1 class="org-title">Bucket List</h1>

  <p class="opportunity-info">
    Know of other opportunities? Email them to us through <b>nadeem.aljaber@ontario.ca</b> OR <b>danielcheley@hotmail.com</b>
  </p>

  <div class="bucket-gallery">
    <div id="fifth">
      <%= link_to "Lunch N' Learn", "/opportunities/17", class:"co-opp-name", id:"blue" %>
      <%= link_to "Planning Committee", "/opportunities/18", class:"co-opp-name", id:"purple" %>
    </div>
    <div id="fifth">
      <%= link_to "Learn On", "/opportunities/19", class:"co-opp-name", id:"green" %>
      <%= link_to @opportunities.find(20).name, "/opportunities/20", class:"co-opp-name", id:"red" %>
    </div>
    <div id="fifth">
      <%= link_to "Student Orientation", "/opportunities/21", class:"co-opp-name", id:"red" %>
      <%= link_to "Informational Interview", "/opportunities/22", class:"co-opp-name" , id:"orange"%>
    </div>
    <div id="fifth">
      <%= link_to "Restaurant", "/opportunities/23", class:"co-opp-name", id:"orange" %>
      <%= link_to "Social Event", "/opportunities/24", class:"co-opp-name", id:"green" %>
    </div>
    <div id="fifth">
      <%= link_to "Networking Event", "/opportunities/25", class:"co-opp-name", id:"purple" %>
      <%= link_to "OPS/TOPS Network", "/opportunities/26", class:"co-opp-name", id:"blue" %>
    </div>
  </div>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Opportunities</h1>
<% end %>
