<!--  left side dotted line reporting -->
<% if current_user %>
  <h1 class="org-title">Interactive Organizational Chart</h1>

  <h4 class="org-title", style="margin-top: 30px;"><b>*Click</b> on a <b>box</b> below to view a branch's <b>interactive</b> organizational chart and the career profile of the employees in that branch.</h4>

  <section class="org-menu-container">
    <div id="level-1" class="level">
      <div class="level-wrap">

        <div id="level-1-list" class="col-1-3 list">
          <ul>
            <%= link_to "/users/admo_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">ADM's Office<span class=""></span></h4>

                    <div class="context">
                      <span class=""></span>
                    </div>
                  </div>

                  <div class="org-details">
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(adm_office: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>

            <%= link_to "/users/hr_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">Strategic Human Resources<span class=""></span></i></h4>

                    <div class="context">
                      <span class=""></span>
                    </div>
                  </div>

                  <div class="org-details">
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(strategic_human_resources: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>

            <%= link_to "/users/smf_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">Service Management & Facilities<span class=""></span></h4>

                    <div class="context">
                      <span class=""></span>
                    </div>
                  </div>

                  <div class="org-details">
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(service_management_and_facilities: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>

            <%= link_to "/users/bpf_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">Business Planning & Finance<span class=""></span></h4>

                    <div class="context">
                      <span class=""></span>
                    </div>
                  </div>

                  <div class="org-details">
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(business_planning_and_finance: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>

    </section>

    <div class="carousel-container">
      <h1 class="org-title">Development Opportunities</h1>

      <p class="opportunity-info">
        <b>Scroll</b> through and apply to development opportunities in order to be considered (<b>hover</b> over box to <b>view details</b>).
      </p>

      <div class="row">
        <div class="row__inner">

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('emerging-leaders.jpg', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header" style="padding-left: 15%;"><%= @opportunity_2.name %></h3>
              <div class="tile__title" style="padding-left: 20%;">
                <%= @opportunity_2.description %>
                <%= form_for([@opportunity_2, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_2.name %>
                  <%= f.hidden_field :description, value: @opportunity_2.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_2.id %>
                  <%= f.hidden_field :red, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_1.name %></h3>
              <div class="tile__title">
                <%= @opportunity_1.description %>
                <%= form_for([@opportunity_1, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_1.name %>
                  <%= f.hidden_field :description, value: @opportunity_1.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_1.id %>
                  <%= f.hidden_field :blue, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_3.name %></h3>
              <div class="tile__title">
                <%= @opportunity_3.description %>
                <%= form_for([@opportunity_3, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_3.name %>
                  <%= f.hidden_field :description, value: @opportunity_3.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_3.id %>
                  <%= f.hidden_field :yellow, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_4.name %></h3>
              <div class="tile__title">
                <%= @opportunity_4.description %>
                <%= form_for([@opportunity_4, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_4.name %>
                  <%= f.hidden_field :description, value: @opportunity_4.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_4.id %>
                  <%= f.hidden_field :green, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_5.name %></h3>
              <div class="tile__title">
                <%= @opportunity_5.description %>
                <%= form_for([@opportunity_5, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_5.name %>
                  <%= f.hidden_field :description, value: @opportunity_5.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_5.id %>
                  <%= f.hidden_field :grey, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_6.name %></h3>
              <div class="tile__title">
                <%= @opportunity_6.description %>
                <%= form_for([@opportunity_6, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_6.name %>
                  <%= f.hidden_field :description, value: @opportunity_6.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_6.id %>
                  <%= f.hidden_field :pink, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <h1 class="org-title" style="margin-top: 4%;">Learning Opportunities</h1>

      <p class="opportunity-info">
        <b>Scroll</b> through available sessions below to signup (<b>hover</b> over box to <b>view details</b>).
      </p>

      <div class="row">
        <div class="row__inner">

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header" style="padding-left: 15%;"><%= @opportunity_7.name %></h3>
              <div class="tile__title" style="padding-left: 20%;">
                <%= @opportunity_7.description %>
                <%= form_for([@opportunity_7, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_7.name %>
                  <%= f.hidden_field :description, value: @opportunity_7.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_7.id %>
                  <%= f.hidden_field :red, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_8.name %></h3>
              <div class="tile__title">
                <%= @opportunity_8.description %>
                <%= form_for([@opportunity_8, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_8.name %>
                  <%= f.hidden_field :description, value: @opportunity_8.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_8.id %>
                  <%= f.hidden_field :yellow, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_9.name %></h3>
              <div class="tile__title">
                <%= @opportunity_9.description %>
                <%= form_for([@opportunity_9, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_9.name %>
                  <%= f.hidden_field :description, value: @opportunity_9.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_9.id %>
                  <%= f.hidden_field :blue, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
                <%= image_tag('black.png', class:"tile__img") %>
            </div>
            <div class="tile__details">
              <h3 class="tile-header"><%= @opportunity_10.name %></h3>
              <div class="tile__title">
                <%= @opportunity_10.description %>
                <%= form_for([@opportunity_10, @badge]) do |f| %>
                  <%= f.hidden_field :name, value: @opportunity_10.name %>
                  <%= f.hidden_field :description, value: @opportunity_10.description %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :opportunity_id, value: @opportunity_10.id %>
                  <%= f.hidden_field :green, value: true %>
                  <%= f.submit "SIGN UP", class:"submit-blue", style:"margin: 20px auto;" %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Interactive Org Chart</h1>
<% end %>
<script type="text/javascript">
//Popup Alert for new users
  if (<%= current_user.badges.ids == [] %>) {
    alert('Click the "Profile" link in the top right to add Badges!');
  }
</script>
