<% if current_user && current_user.co_op == nil %>
  <h1 class="org-title">Interactive Organizational Charts</h1>

  <h4 class="org-title", style="margin-top: 30px;"><b>*Click</b> on a <b>box</b> below to view a branch's <b>interactive</b> organizational chart and the career profile of the employees in that branch.</h4>

  <section class="org-menu-container">
    <div id="level-1" class="level">
      <div class="level-wrap">

        <div id="level-1-list" class="col-1-3 list">
          <ul>
            <%= link_to "/users/admo_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">ADM's Office<span class=""></span></h4>
                    <div class="context"></div>
                  </div>

                  <div class="org-details">
                    <%= image_tag('o-chart.svg', class:"o-chart-icon") %>
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(adm_office: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>

            <%= link_to "/users/hr_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">Strategic Human Resources<span class=""></span></i></h4>
                    <div class="context"></div>
                  </div>

                  <div class="org-details">
                    <%= image_tag('o-chart.svg', class:"o-chart-icon") %>
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(strategic_human_resources: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>

            <%= link_to "/users/smf_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">Service Management & Facilities<span class=""></span></h4>
                    <div class="context"></div>
                  </div>

                  <div class="org-details">
                    <%= image_tag('o-chart.svg', class:"o-chart-icon") %>
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(service_management_and_facilities: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>

            <%= link_to "/users/bpf_org_chart" do %>
              <li class="menu-element">
                <div class="org-box-menu">
                  <div class="org-menu-header">
                    <h4 class="branch">Business Planning & Finance<span class=""></span></h4>
                    <div class="context"></div>
                  </div>

                  <div class="org-details">
                    <%= image_tag('o-chart.svg', class:"o-chart-icon") %>
                    <p class="menu-name"><b>Office Size:</b> <%= @users.where(business_planning_and_finance: true).count %></p>
                  </div>
                </div>
              </li>
            <% end %>

          </ul>
        </div>

      </div>
    </div>
  </section>

<% elsif current_user && current_user.co_op != nil %>
  <h1 class="org-title">Co-op Students</h1>

  <section class="org-container">
    <div id="level-1" class="level">
      <div class="level-wrap">

        <div id="level-1-active" class="col-1-3 active">
          <!-- <div class="element"></div> -->
        </div>

        <div id="level-1-list" class="col-1-3 list">
          <ul>
            <% @users.where(co_op: true).each do |b| %>
              <%= link_to "/users/#{b.id}" do %>
                <li class="element" style="width: 240px;">
                  <div class="org-box">
                    <div class="org-header">
                      <h4 class="branch"><%= "#{b.title}" %><span class=""></span></h4>
                      <!-- <div class="context">
                        <span class="glyphicon glyphicon-menu-down"></span>
                      </div> -->
                    </div>
                      <div class="org-details">
                        <p class="boss-name"><%= b.name %></p>
                        <p class="badge-count" style="font-size: 12px;"><b>Bucket List Badges:</b> <%= b.badges.where.not(opportunity_id: nil).count %></p>
                        <p class="badge-count" style="font-size: 12px;"><b>Recognition Badges:</b> <%= b.received_badges.count %></p>
                      </div>
                    <% if b.avatar.file? != true %>
                      <div class="info-btn"><span class="glyphicon glyphicon-user"></span></div>
                    <% else %>
                      <%= image_tag b.avatar.url(:medium), class:"org-profile-pic" %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </section>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Interactive Org Charts</h1>
<% end %>
