<% if current_user %>
  <h1 class="org-title">Interactive Organizational Charts</h1>

  <h4 class="org-title", style="margin-top: 30px;"><b>*Click</b> the <b>eye icon</b> to view each branch/office's respective organizational chart.</h4>

  <section class="org-menu-container">
    <div id="level-1" class="level">
      <div class="level-wrap">

        <div id="level-1-list" class="col-1-3 list">
          <ul>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">ADM's Office<span class=""></span></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name"><b>Office Size:</b> <%= @users.where(adm_office: true).count %></p>
                </div>

                <a href="/users/admo_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">Strategic Human Resources<span class=""></span></i></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name"><b>Office Size:</b> <%= @users.where(strategic_human_resources: true).count %></p>
                </div>

                <a href="/users/hr_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">Service Management & Facilities<span class=""></span></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name"><b>Office Size:</b> <%= @users.where(service_management_and_facilities: true).count %></p>
                </div>

                <a href="/users/smf_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">Business Planning and Finance<span class=""></span></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name"><b>Office Size:</b> <%= @users.where(business_planning_and_finance: true).count %></p>
                </div>

                <a href="/users/bpf_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>

    <h1 class="org-title">Development Opportunities</h1>

    <div id="carousel-dev-ops" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-dev-ops" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-dev-ops" data-slide-to="1"></li>
        <li data-target="#carousel-dev-ops" data-slide-to="2"></li>
        <li data-target="#carousel-dev-ops" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-caption">
            <h3><%= @opportunity_1.name %></h3>
            <p class="carousel-text"><%= @opportunity_1.description %></p>
            <%= form_for([@opportunity_1, @badge]) do |f| %>
              <%= f.hidden_field :name, value: @opportunity_1.name %>
              <%= f.hidden_field :description, value: @opportunity_1.description %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :opportunity_id, value: @opportunity_1.id %>
              <%= f.hidden_field :red, value: true %>
              <%= f.submit "SIGN UP", class:"submit" %>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h3><%= @opportunity_2.name %></h3>
            <p class="carousel-text"><%= @opportunity_2.description %></p>
            <%= form_for([@opportunity_2, @badge]) do |f| %>
              <%= f.hidden_field :name, value: @opportunity_2.name %>
              <%= f.hidden_field :description, value: @opportunity_2.description %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :opportunity_id, value: @opportunity_2.id %>
              <%= f.hidden_field :blue, value: true %>
              <%= f.submit "SIGN UP", class:"submit" %>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h3><%= @opportunity_3.name %></h3>
            <p class="carousel-text"><%= @opportunity_3.description %></p>
            <%= form_for([@opportunity_3, @badge]) do |f| %>
              <%= f.hidden_field :name, value: @opportunity_3.name %>
              <%= f.hidden_field :description, value: @opportunity_3.description %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :opportunity_id, value: @opportunity_3.id %>
              <%= f.hidden_field :green, value: true %>
              <%= f.submit "SIGN UP", class:"submit" %>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h3><%= @opportunity_4.name %></h3>
            <p class="carousel-text"><%= @opportunity_4.description %></p>
            <%= form_for([@opportunity_4, @badge]) do |f| %>
              <%= f.hidden_field :name, value: @opportunity_4.name %>
              <%= f.hidden_field :description, value: @opportunity_4.description %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :opportunity_id, value: @opportunity_4.id %>
              <%= f.hidden_field :purple, value: true %>
              <%= f.submit "SIGN UP", class:"submit" %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-dev-ops" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-dev-ops" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Interactive Org Chart</h1>
<% end %>
<script type="text/javascript">
//Popup Alert for new users
  // var profileLink = '<%= link_to "Profile", "/users/#{current_user.id}" %>'
  // var htmlLink = $.parseHTML(profileLink)
  // var currentPage = window.location.href.match(/localhost:3000\/(.*)/)[1];
  // currentPage === 'users/org_charts' &&
  if (<%= current_user.badges.ids == [] %>) {
    alert('Click the "Profile" link in the top right to add Badges!');
  }
</script>
