<div class="profile-background">
  <% if current_user && current_user == @user %>
    <div class="left-profile">
      <!-- <h1 class="profile-title"><%= link_to "Edit Settings", "/users/#{@user.id}/edit" %></h1> -->
    </br><h1 class="profile-title"><b>Your Profile</b></h1>

      <%= render 'profile-info' %>
    </div>

    <div class="right-profile">
      <h1 class="badge-title"><b>Your badges</b></h1>

      <p class="badge-new-wrap"><%= link_to 'ADD Badge', "/users/#{@user.id}/badges/new", class:"badge-new-link" %></p>

      <h5 class="badge-title" style="font-size: 16px;"><b>*Click</b> on a <b>badge</b> to <b>add</b> a <b>description</b> of your experience</h5>

      <%= render 'badge-show-list' %>
    </div>

  <% elsif current_user && current_user != @user %>
    <div class="left-profile">
      </br><h1 class="profile-title"><%= @user.name %>'s Profile</h1>

      <%= render 'profile-info' %>
    </div>

    <div class="right-profile">
      <h1 class="badge-title"><%= "#{@user.name}" %>'s badges</h1>

      <p class="badge-new-wrap"><%= link_to 'GIVE Recognition Badge', "/users/#{@user.id}/badges/new", class:"badge-new-link" %></p>

      <p class="badge-title" style="font-size: 16px;"><b>*Click</b> a <b>badge</b> to learn more about their skills and experience.</p>

      <%= render 'badge-show-list' %>
    </div>

  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view profiles</h1>
  <% end %>
</div>
