<% if current_user && current_user == @user %>
  <%= render 'office-sidebar' %>

  <div class="three-quarters">
    <%= render 'profile-info' %>

    <% if current_user.co_op == nil %>
      <%= render 'private-badge-list' %>
    <% else %>
      <%= render 'private-coop-badge-list' %>
    <% end %>
  </div>

<% elsif current_user && current_user != @user %>
  <%= render 'office-sidebar' %>

  <div class="three-quarters">
    <%= render 'profile-info' %>

    <% if @user.co_op == nil %>
      <%= render 'public-badge-list' %>
    <% else %>
      <%= render 'public-coop-badge-list' %>
    <% end %>
  </div>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view profiles</h1>
<% end %>
