<% if current_user && current_user == @user %>
  <div class="left-profile">
    </br><h1 class="profile-title"><b>Your Profile</b></h1>

    <%= render 'profile-info' %>
  </div>

  <div class="right-profile">
    <h1 class="badge-title"><b>Your badges</b></h1>

  <% if current_user.co_op == nil %>
    <p class="badge-new-wrap" id="left-side">
      <%= link_to "PICK DEFAULT BADGE", "/badges/defaults", class:"submit-green", style:"margin: auto; width: 160px;" %>
    </p>
    <p class="badge-new-wrap" id="right-side">
      <%= link_to "CREATE BADGE", "/users/#{current_user.id}/badges/new", class:"submit-green", style:"margin: auto; width: 160px;" %>
    </p>

    <%= render 'badge-show-list' %>

  <% else %>
    <%= render 'coop-show-list' %>
  <% end %>
  </div>

<% elsif current_user && current_user != @user %>
  <div class="left-profile">
    </br><h1 class="profile-title"><%= @user.name %>'s Profile</h1>

    <%= render 'profile-info' %>
  </div>

  <div class="right-profile">
    <h1 class="badge-title"><%= "#{@user.name}" %>'s badges</h1>


    <p class="badge-new-wrap"><%= link_to 'GIVE Recognition Badge', "/users/#{@user.id}/recognitions/new", class:"submit-green", style:"margin: auto; width: 260px;" %></p>

  <% if @user.co_op == nil %>
    <%= render 'badge-show-list' %>
  </div>
  <% else %>
    <%= render 'coop-show-list' %>
  <% end %>
  </div>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view profiles</h1>
<% end %>
