<% if current_user && current_user == @user %>
  <div class="left-profile"style="margin-top: 30px;">
    <%= render 'profile-info' %>
  </div>

  <div class="right-profile" style="margin-top: 30px;">
    <% if current_user.co_op == nil %>
      <%= render 'badge-show-list' %>
    <% else %>
      <%= render 'coop-show-list' %>
    <% end %>
  </div>

<% elsif current_user && current_user != @user %>
  <div class="left-profile">
    </br><h1 class="profile-title"><%= @user.name %>'s Profile</h1>

    <%= render 'profile-info' %>
  </div>

  <div class="right-profile">
    <h1 class="badge-title" style="margin-bottom: 0;"><%= "#{@user.name}" %>'s badges</h1>

    <p class="badge-new-wrap" style="margin-bottom: 30px;"><%= link_to 'GIVE Recognition Badge', "/users/#{@user.id}/recognitions/new", class:"submit-green", style:"margin: auto; width: 260px;" %></p>

    <% if @user.co_op == nil %>
      <%= render 'badge-show-list' %>
  </div>
    <% else %>
      <%= render 'coop-show-list' %>
    <% end %>
  </div>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view profiles</h1>
<% end %>
