<% if current_user && current_user == @user %>
  <%= render 'office-sidebar' %>

  <div class="three-quarters">
    <%= render 'profile-info' %>

    <% if current_user.co_op == nil %>
      <% if current_user.staff == true %>
        <%= render 'private-staff-badge-list' %>
      <% else %>
        <%= render 'private-manager-badge-list' %>
      <% end %>
    <% else %>
      <%= render 'private-coop-show-list' %>
    <% end %>
  </div>

<% elsif current_user && current_user != @user %>
  <%= render 'office-sidebar' %>

  <div class="three-quarters">
    <%= render 'profile-info' %>

    <% if @user.co_op == nil %>
      <% if @user.staff == true %>
        <%= render 'public-staff-badge-list' %>
      <% else %>
        <%= render 'public-manager-badge-list' %>
      <% end %>
    <% else %>
      <%= render 'public-coop-show-list' %>
    <% end %>
  </div>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view profiles</h1>
<% end %>
