<div class="background", style="height: 800px;">
  <% if current_user == @user %>
    <h1 class="profile-title"><%= link_to "Edit Settings", "/users/#{@user.id}/edit" %></h1>

    <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>

    <ul>
      <li class="profile-info"><b>Title:</b> <%= @user.title %></li>
      <li class="profile-info"><b>Email:</b> <%= @user.email %></li>
      <li class="profile-info"><b>Phone:</b> <%= @user.phone %></li>
    </ul>

  <% else %>
    <h1 class="profile-title"><%= @user.name %>'s Profile</h1>

    <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>

    <ul>
      <li class="profile-info"><b>Title:</b> <%= @user.title %></li>
      <li class="profile-info"><b>Email:</b> <%= @user.email %></li>
      <li class="profile-info"><b>Phone:</b> <%= @user.phone %></li>
    </ul>

  <% end %>
</div>
