<div class="background", style="height: 800px;">
  <% if current_user == @user %>
    <!-- <h1 class="profile-title"><%= link_to "Edit Settings", "/users/#{@user.id}/edit" %></h1> -->
    <h1 class="profile-title">Your Profile</h1>

    <% if @user.avatar.file? == true %>
      <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>
    <% else %>
      <div class="default-pic">
        <%= image_tag('smile.svg') %>
      </div>
      <li class="pic-info">Add a profile pic through the settings page (link at top)</li>
    <% end %>

    <ul>
      <li class="profile-info"><b>Title:</b> <%= @user.title %></li>
      <li class="profile-info"><b>Email:</b> <%= @user.email %></li>
      <li class="profile-info"><b>Phone:</b> <%= @user.phone %></li>
    </ul>

    <div class="badge-container">
      <h2 class="badge-title">Current badges:</h2>

      <p class="profile-link"><%= link_to 'ADD Badge', "/users/#{@user.id}/badges/new" %></p>

      <ul>
        <!-- Display Red Badges -->
        <% @user.badges.where(red: true).each do |b| %>
        <div class="badge-red">
          <li class="profile-badges">
            <%= link_to "#{b.name}", "/users/#{@user.id}/badges/#{b.id}/edit" %>
          </li>
          <%= button_to 'DELETE', {:controller => 'badges', :action => 'destroy', :user_id => current_user.id, :id => "#{b.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"btn-default" %>
        </div>

        <% end %>
        <!-- Display Blue Badges -->
        <% @user.badges.where(blue: true).each do |b| %>
        <div class="badge-blue">
          <li class="profile-badges">
            <%= link_to "#{b.name}", "/users/#{@user.id}/badges/#{b.id}/edit" %>
            <%= button_to 'DELETE', {:controller => 'badges', :action => 'destroy', :user_id => current_user.id, :id => "#{b.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"btn-default" %>
          </li>
        </div>
        <% end %>
        <!-- Display Yellow Badges -->
        <% @user.badges.where(yellow: true).each do |b| %>
        <div class="badge-yellow">
          <li class="profile-badges">
            <%= link_to "#{b.name}", "/users/#{@user.id}/badges/#{b.id}/edit" %>
            <%= button_to 'DELETE', {:controller => 'badges', :action => 'destroy', :user_id => current_user.id, :id => "#{b.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"btn-default" %>
          </li>
        </div>
        <% end %>
        <!-- Display Green Badges -->
        <% @user.badges.where(green: true).each do |b| %>
        <div class="badge-green">
          <li class="profile-badges">
            <%= link_to "#{b.name}", "/users/#{@user.id}/badges/#{b.id}/edit" %>
            <%= button_to 'DELETE', {:controller => 'badges', :action => 'destroy', :user_id => current_user.id, :id => "#{b.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"btn-default" %>
          </li>
        </div>
        <% end %>
        <!-- Display Purple Badges -->
        <% @user.badges.where(purple: true).each do |b| %>
        <div class="badge-purple">
          <li class="profile-badges">
            <%= link_to "#{b.name}", "/users/#{@user.id}/badges/#{b.id}/edit" %>
            <%= button_to 'DELETE', {:controller => 'badges', :action => 'destroy', :user_id => current_user.id, :id => "#{b.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"btn-default" %>
          </li>
        </div>
        <% end %>
        <!-- Display Pink Badges -->
        <div class="badge-pink">
        <% @user.badges.where(pink: true).each do |b| %>
          <li class="profile-badges">
            <%= link_to "#{b.name}", "/users/#{@user.id}/badges/#{b.id}/edit" %>
            <%= button_to 'DELETE', {:controller => 'badges', :action => 'destroy', :user_id => current_user.id, :id => "#{b.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"btn-default" %>
          </li>
        </div>
        <% end %>
        <!-- Display Grey Badges -->
        <% @user.badges.where(grey: true).each do |b| %>
        <div class="badge-grey">
          <li class="profile-badges">
            <%= link_to "#{b.name}", "/users/#{@user.id}/badges/#{b.id}/edit", style:"color: black;" %>
            <%= button_to 'DELETE', {:controller => 'badges', :action => 'destroy', :user_id => current_user.id, :id => "#{b.id}"}, method: :delete, data: { confirm: "You sure? Badge will be permanenetly removed!" }, class:"btn-default" %>
          </li>
        </div>
        <% end %>
      </ul>
    </div>

  <% else %>
    <h1 class="profile-title"><%= @user.name %>'s Profile</h1>

    <% if @user.avatar.file? == true %>
      <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>
    <% else %>
      <div class="default-pic">
        <%= image_tag('smile.svg') %>
      </div>
      <li class="pic-info">Add a profile pic through the settings page (link at top)</li>
    <% end %>

    <ul>
      <li class="profile-info"><b>Title:</b> <%= @user.title %></li>
      <li class="profile-info"><b>Email:</b> <%= @user.email %></li>
      <li class="profile-info"><b>Phone:</b> <%= @user.phone %></li>
    </ul>

    <div class="badge-container">
      <h2 class="badge-title"><%= "#{@user.name}" %>'s badges</h2>

      <p class="profile-link"><%= link_to 'GIVE Badge', "/users/#{@user.id}/badges/new" %></p>

      <ul>
        <% @user.badges.each do |b| %>
          <li class="profile-badges"><%= b.name %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
</div>
