<div class="background">
  <% if current_user && current_user == @user %>
    <div class="left-side">
      <!-- <h1 class="profile-title"><%= link_to "Edit Settings", "/users/#{@user.id}/edit" %></h1> -->
      </br><h1 class="profile-title">Your Profile</h1>

      <%= render 'profile-info' %>
    </div>

    <div class="right-side">
      <h1 class="badge-title">Your badges</h1>

      <p class="profile-link"><%= link_to 'ADD Badge', "/users/#{@user.id}/badges/new", style:"color: #0000CD;" %></p>

      <h3 class="badge-title"><b>*Click</b> a <b>badge</b> to <b>add</b> a <b>description</b> of your experience</h3>

      <ul class="badge-list">
        <%= render 'badge-edit-list' %>
      </ul>
    </div>

  <% elsif current_user && current_user != @user %>
    <div class="left-side">
      </br><h1 class="profile-title"><%= @user.name %>'s Profile</h1>

      <%= render 'profile-info' %>
    </div>

    <div class="right-side">
      <h1 class="badge-title"><%= "#{@user.name}" %>'s badges</h1>

      <p class="profile-link"><%= link_to 'GIVE Badge', "/users/#{@user.id}/badges/new", style:"color: #0000CD;" %></p>

      <h3 class="badge-title"><b>*Click</b> a <b>badge</b> to learn more about their skills and experience.</h3>

      <ul class="badge-list">
        <%= render 'badge-show-list' %>
      </ul>
    </div>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view profiles</h1>
  <% end %>
</div>
