<div class="background">
  <% if current_user && current_user == @user %>
    <div class="left-side">
      <!-- <h1 class="profile-title"><%= link_to "Edit Settings", "/users/#{@user.id}/edit" %></h1> -->
    </br><h1 class="profile-title"><b>Your Profile</b></h1>

      <%= render 'profile-info' %>
    </div>

    <div class="right-side">
      <h1 class="badge-title"><b>Your badges</b></h1>

      <p class="badge-new-wrap"><%= link_to 'ADD Badge', "/users/#{@user.id}/badges/new", class:"badge-new-link" %></p>

      <h3 class="badge-title"><b>*Click</b> a <b>badge</b> to <b>add</b> a <b>description</b> of your experience</h3>

      <ul class="badge-list">
        <div class="inner-left">
          <h4 class="badge-types"><b>Skills & Experience Badges</b></h4>
          <%= render 'skill-badge-edit-list' %>
        </div>

        <div class="inner-right">
          <h4 class="badge-types"><b>Projects & Events Badges</b></h4>
          <%= render 'opp-badge-edit-list' %>
        </div>
      </ul>
    </div>

  <% elsif current_user && current_user != @user %>
    <div class="left-side">
      </br><h1 class="profile-title"><%= @user.name %>'s Profile</h1>

      <%= render 'profile-info' %>
    </div>

    <div class="right-side">
      <h1 class="badge-title"><%= "#{@user.name}" %>'s badges</h1>

      <p class="badge-new-wrap"><%= link_to 'GIVE Badge', "/users/#{@user.id}/badges/new", class:"badge-new-link" %></p>

      <h3 class="badge-title"><b>*Click</b> a <b>badge</b> to learn more about their skills and experience.</h3>

      <ul class="badge-list">
        <div class="inner-left">
          <h4 class="badge-types"><b>Skills & Experience Badges</b></h4>
          <%= render 'skill-badge-edit-list' %>
        </div>

        <div class="inner-right">
          <h4 class="badge-types"><b>Projects & Events Badges</b></h4>
          <%= render 'opp-badge-edit-list' %>
        </div>
      </ul>
    </div>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to view profiles</h1>
  <% end %>
</div>
