<div class="contain">

  <h1 class="org-title">Development Opportunities</h1>

  <p class="opportunity-info">
    Search through available projects below to signup (<b>hover</b> over box to <b>view details</b>).
  </p>

  <div class="row">
    <div class="row__inner">

      <div class="tile">
        <div class="tile__media">
            <%= image_tag('black.png', class:"tile__img") %>
        </div>
        <div class="tile__details">
          BLAH BLAH
          <div class="tile__title">
            more info here blah blah blah.
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <%= image_tag('black.png', class:"tile__img") %>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <%= image_tag('black.png', class:"tile__img") %>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <%= image_tag('black.png', class:"tile__img") %>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <%= image_tag('black.png', class:"tile__img") %>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
