<%= form_for(@opportunity) do |f| %>
  <% if @opportunity.errors.any? %>
    <h2 class="error-header"><%= pluralize(@opportunity.errors.count, "error") %> occurred!</h2>

    <ul class="error-list">
      <% @opportunity.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <div class="field">
    <%= f.label :name, "Task or project that will help employees develop their skills", class:"field-label" %>
    <%= f.text_field :name, placeholder:"e.g. Excel Data Analysis", class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :skills, "Experience candidate will gain through project", class:"field-label" %>
    <%= f.text_field :skills, placeholder:"e.g. Project Management & Business Planning", class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :description, "Description of project responsibilities", class:"field-label" %>
    <%= f.text_field :description, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :link, "Provide a link or email for applicants to register", class:"field-label" %>
    <%= f.text_field :link, class:"field-input" %>
  </div>

  <%= f.hidden_field :career, value: true %>

  <!-- <div class="field-label" style="padding-top: 15px;">
    <b>Type</b>
  </div>

  <div class="check-box" style="padding-top: 15px;">
    <%= f.check_box :career, class:"uncheck" %>
    <%= f.label :career, "Working Group, Special Projects & Networking Events" %>
  </div>

  <div class="check-box">
    <%= f.check_box :learning, class:"uncheck" %>
    <%= f.label :learning, "Courses & Learning Opportunities" %>
  </div>

  <div class="check-box">
    <%= f.check_box :hobby, class:"uncheck" %>
    <%= f.label :hobby, "Hobbies, Interests & Extra Curriculars" %>
  </div> -->

  <!-- <div class="divider"></div> -->

  <div class="field-label" style="padding-top: 15px;">
    <b>Image (Optional)</b>
  </div>

  <div class="avatar_container">
    <%= f.file_field :avatar %>
  </div>

  <div class="check-box">
    <%= f.check_box :image_delete %>
    <%= f.label :image_delete, "Delete Image" %>
  </div>

  <div class="center-float-wrap">
    <div class="float">
      <%= f.submit "SUBMIT", class:"submit-green" %>
    </div>

    <% if current_page?(action: "new")%>
      <div class="float" style="margin-left: 15px;">
        <%= link_to "BACK TO OPPORTUNITIES", opportunities_url, class:"submit-blue" %>
      </div>
    <% elsif current_page?(action: "edit") %>
      <div class="float" style="margin-left: 15px;">
        <%= link_to "CANCEL", "/opportunities/#{@opportunity.id}", class:"delete" %>
      </div>
    <% end %>
  </div>

<% end %>
