<div class="container" style="text-align: center;">
  <%= form_for(@opportunity) do |f| %>
    <% if @opportunity.errors.any? %>
      <h2 class="error-header"><%= pluralize(@opportunity.errors.count, "error") %> occurred!</h2>

      <ul class="error-list">
        <% @opportunity.errors.full_messages.each do |msg| %>
          <li class="error-msg"><%= msg %></li>
        <% end %>
      </ul>

    <% end %>

    <div class="field">
      <%= f.label :name, class:"field-label" %>
      <%= f.text_field :name, class:"field-input" %>
    </div>

    <div class="field">
      <%= f.label :description, class:"field-label" %>
      <%= f.text_field :description, class:"field-input" %>
    </div>

    <div class="field">
      <%= f.label :link, class:"field-label" %>
      <%= f.text_field :link, class:"field-input" %>
    </div>

    <div class="field-label" style="padding-top: 15px;">
      <b>Type</b>
    </div>

    <div class="check-box" style="padding-top: 15px;">
      <%= f.check_box :career %>
      <%= f.label :career, "Working Group, Special Projects & Networking Events" %>
    </div>

    <div class="check-box">
      <%= f.check_box :learning %>
      <%= f.label :learning, "Courses & Learning Opportunities" %>
    </div>

    <div class="check-box">
      <%= f.check_box :hobby %>
      <%= f.label :hobby, "Hobbies, Interests & Extra Curriculars" %>
    </div>

    <div class="divider"></div>

    <div class="field-label" style="padding-top: 15px;">
      <b>Image (Optional)</b>
    </div>

    <div class="avatar_container">
      <%= f.file_field :avatar %>
    </div>

    <div class="check-box">
      <%= f.check_box :image_delete %>
      <%= f.label :image_delete, "Delete Image" %>
    </div>

    <div class="center-float-wrap">
      <div class="float">
        <%= f.submit "SUBMIT", class:"submit-green" %>
      </div>

      <div class="float" style="margin-left: 15px;">
        <%= link_to "/users/opps", class:"cancel-center-link" do %>
          <div class="submit-blue">BACK TO OPPORTUNITIES</div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
