<% if current_user && current_user.co_op == nil %>
  <div class="quarter">
    <div class="white-box">
      <%= image_tag('CSD-logo.jpg', class:"csd-logo") %>
    </div>
    
    <ul class="feed-list">
      <li class="feed-link"><%= link_to "Post Project to Website", "/opportunities/new" %></li>
    </ul>
  </div>

  <div class="three-quarters">
    <div style="margin-left: 15px;">
      <h1 class="form-title" style="margin-top: 15px;">Enhance Your Skills</h1>

      <% @opportunities.where(career: true).each do |o| %>
        <div class="third">
          <%= link_to o.name, "/opportunities/#{o.id}", class:"csd-opp-name", id:"blue" %>
        </div>
      <% end %>
    </div>
  </div>

<% elsif current_user && current_user.co_op != nil %>
  <div class="container">
    <h1 class="form-title">Bucket List</h1>

    <p class="opportunity-info">
      Know of other opportunities? Email them to us through <b>nadeem.aljaber@ontario.ca</b> OR <b>danielcheley@hotmail.com</b>
    </p>

    <div class="bucket-gallery">
      <div id="fifth">
        <%= link_to "Lunch N' Learn", "/opportunities/17", class:"co-opp-name", id:"blue" %>
        <%= link_to "Planning Committee", "/opportunities/18", class:"co-opp-name", id:"purple" %>
      </div>
      <div id="fifth">
        <%= link_to "Learn On", "/opportunities/19", class:"co-opp-name", id:"green" %>
        <%= link_to @opportunities.find(20).name, "/opportunities/20", class:"co-opp-name", id:"red" %>
      </div>
      <div id="fifth">
        <%= link_to "Student Orientation", "/opportunities/21", class:"co-opp-name", id:"red" %>
        <%= link_to "Informational Interview", "/opportunities/22", class:"co-opp-name" , id:"orange"%>
      </div>
      <div id="fifth">
        <%= link_to "Restaurant", "/opportunities/23", class:"co-opp-name", id:"orange" %>
        <%= link_to "Social Event", "/opportunities/24", class:"co-opp-name", id:"green" %>
      </div>
      <div id="fifth">
        <%= link_to "Networking Event", "/opportunities/25", class:"co-opp-name", id:"purple" %>
        <%= link_to "OPS/TOPS Network", "/opportunities/26", class:"co-opp-name", id:"blue" %>
      </div>
    </div>
  </div>

<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Opportunities</h1>
<% end %>
