<% if current_user %>
  <div class="background" style="text-align: center;">
    <h2 class="opp-headers"><%= @opportunity.name %></h2>

    <div class="opp-photo-frame">
      <%= image_tag('huddle.png', class:"tile__img") %>
    </div>

    <p class="opp-details">
      <%= @opportunity.bonus %>
      <%= @opportunity.description %>
      <%= @opportunity.link %>
    </p>

    <% if current_user.liked? @opportunity %>
      <%= link_to image_tag('not-interested.png', class:"thumbs-empty"), unlike_opportunity_path(@opportunity.id), method: :put, remote: true, id: "like_#{@opportunity.id}" %>
      <p class="profile-badges"></p>
      <%= render 'likes' %>
    <% else %>
      <%= link_to image_tag('interested.svg', class:"thumbs-up"), like_opportunity_path(@opportunity.id), method: :put, remote: true, id: "like_#{@opportunity.id}" %>
      <p class="profile-badges"></p>
      <%= render 'likes' %>
    <% end %>

    <div>
      <%= form_for([@opportunity, @badge]) do |f| %>
        <%= f.hidden_field :name, value: @opportunity.name %>
        <%= f.hidden_field :description, value: @opportunity.description %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :opportunity_id, value: @opportunity.id %>
        <%= f.hidden_field :green, value: true %>
        <%= f.hidden_field :exp, value: true %>
        <%= f.submit "VERIFY SIGN UP", class:"submit-green", style:"margin: 20px auto;" %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view <%= @opportunity.name %> details</h1>
<% end %>
