<!DOCTYPE html>
<html>
  <head>
    <title>Employee Engagement App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <% if current_user %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home" style="color: white;"></span>
          </a>
        </div>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="COMING SOON">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/users/org_charts">Interactive Organizational Charts</a></li>
          <li><%= link_to "Profile", "/users/#{current_user.id}" %></li>
          <li><%= link_to "Logout", :logout %></li>
        </ul>
      </div>
    </nav>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
