<!DOCTYPE html>
<html>
  <head>
    <title>Employee Engagement App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-96964221-1', 'auto');
      </script>
    <% end %>
  </head>

  <body>
    <% if current_user && current_user.agreement == true %>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" href="/">
              <span class="glyphicon glyphicon-home" style="color: white;"></span>
            </a> -->
          </div>
          <nav class="navbar-form navbar-left">
            <%= form_tag(users_url, :method => "get", class: "form-group") do %>
              <%= text_field_tag :search, params[:search], placeholder: "By Name", required: true, class:"form-control" %>
              <%= submit_tag "Search", name: nil, class:"btn btn-default" %></br>
            <% end %>
          </nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.co_op == nil %>
              <li><a href="/users/home">Home</a></li>
              <li><a href="/users/org_charts">Organizational Charts</a></li>
              <% if current_user.staff != nil %>
                <li><a href="/users/opps">Advance Your Career</a></li>
              <% else %>
                <li><a href="/users/opps">Find Talent for a Project</a></li>
              <% end %>
            <% else %>
              <li><a href="/users/org_charts">Co-op Students</a></li>
              <li><a href="/users/opps">Bucket list</a></li>
            <% end %>
            <li><%= link_to "Profile", "/users/#{current_user.id}" %></li>
            <li><%= link_to "Settings", "/users/#{current_user.id}/edit" %></li>
            <li><%= link_to "Logout", "/pulse_surveys/#{current_user.id}/edit" %></li>
          </ul>
        </div>
      </nav>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
